@charset "UTF-8";

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}

/* Font Face */
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/notokr-regular.woff2') format('woff2'),
		url('../fonts/notokr-regular.woff') format('woff');
}
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/notokr-medium.woff2') format('woff2'),
		url('../fonts/notokr-medium.woff') format('woff');
}
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/notokr-bold.woff2') format('woff2'),
		url('../fonts/notokr-bold.woff') format('woff');
}



/* Reset */
body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,button,textarea,select,table,caption,thead,tfoot,tbody,tr,th,td,address,img,span,em,strong,pre {margin:0; padding:0;}
*{margin:0;padding:0;-webkit-text-size-adjust:none;word-break:keep-all;box-sizing:border-box;}
*, *:after, *:before {-webkit-box-sizing:border-box; box-sizing:border-box;}
html,body {/*width:100%; height:100%;*/scroll-behavior: smooth;}
/* html * {outline: none !important;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;} */
header, footer, section, article, aside, nav, hgroup, details, menu,figure, figcaption {display: block;}
legend,hr,caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
legend,hr {overflow: hidden; position:absolute; top:0; left:0;}
br{visibility: hidden;font-family: sans-serif; height:0px;}
hr{display: none;}
p {margin: 0px;}
span{display: inline-block;}
ul,ol,li {list-style: none;padding: 0px;margin: 0px;}
dl,dt,dd {padding: 0px;margin: 0px;}
i,em,address {font-style: normal;}
table {border-collapse:collapse; border-spacing:0; table-layout: fixed; width:100%;}
th,td {padding: 0px;}
fieldset legend {position: absolute;top: -9999px;left: -9999px;text-indent: -9999px;overflow: hidden;}
fieldset {border: 0px;padding: 0px;margin: 0px;}
table caption {text-indent: -9999px;overflow: hidden;height: 2px;margin-top: -2px;}
figure {margin: 0px;padding: 0px;}
em {font-style: normal;}
img,fieldset,iframe {border:0 none;}
img {width: 100%;border: 0px;vertical-align: middle;opacity : 1; transition : opacity 0.3s; }
img[data-src] { opacity : 0; }
a {color: #222222;text-decoration: none;}
a:link,a:visited {/* color:#333;  */text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
::-webkit-input-placeholder {color:#888; font-weight:200;}
:-moz-placeholder {color:#888; font-weight:200;}
::-moz-placeholder {color:#888; font-weight:200;}
:-ms-input-placeholder {color:#888 !important; font-weight:200;}
::-ms-input-placeholder {color:#888; font-weight:200;}
::selection {background-color:#e8e5ef;}
.blocker::-webkit-scrollbar{display:none;}
label { vertical-align: middle;} /*cursor:pointer;*/
button {background-color:transparent; cursor:pointer; border:0;}
input,button,select,textarea {color: #333333;font-family: 'Montserrat', 'NotoKr', sans-serif;font-size: 18px;font-weight: 300;border: 0px;padding: 0px;margin: 0px;background: none;vertical-align: middle;}
select,input[type="text"],input[type="password"],input[type="email"],input[type="tel"],textarea {line-height: 24px;padding: 9px 20px 10px;height: 40px;border: 1px solid #C7C7C7;box-sizing: border-box;background-color: #ffffff;-webkit-appearance: none;border-radius: 0px;-webkit-border-radius: 0px;}
select {padding-right: 60px;background: url(../images/template/bullet_select.png) no-repeat calc( 100% - 20px ) center;}
textarea {padding: 15px 20px;line-height: 28px;resize: none;height: 200px;}
select:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus,textarea:focus {border: 1px solid #101010;}
select:disabled,input[type="text"]:disabled,input[type="password"]:disabled,input[type="email"]:disabled,input[type="tel"]:disabled,textarea:disabled {color: rgba(16,16,16,0.5);background-color: #F2F2F2;}
select:read-only,
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="email"]:read-only,
input[type="tel"]:read-only,
textarea:read-only {color: rgba(16,16,16,0.5);background-color: #F2F2F2;}
textarea::-webkit-scrollbar {width: 6px;border-radius: 0px;background-color: #DFDFDF;}
textarea::-webkit-scrollbar-thumb {border-radius: 0px;background-color: #6B6B6B;}
::-webkit-input-placeholder {opacity: 0.4;}/* Chrome/Opera/Safari */
::-moz-placeholder { opacity: 0.4;}/* Firefox 19+ */
:-ms-input-placeholder { opacity: 0.4;}/* IE 10+ */
:-moz-placeholder { opacity: 0.4;}/* Firefox 18- */
::-ms-clear,::-ms-reveal {display: none}
button,input[type="submit"],input[type="image"] {cursor: pointer;}

