@charset "UTF-8";
/* 공통 */
.pc {display: block;}
span.pc {position: relative;display: inline-block;z-index: -1;}
.mo {display: none;}
.inquire_btn {
    display: inline-block;
    margin-top: 22px;
    border-bottom: 1px solid #222222;
}
.inquire_btn i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    background: url(../images/etc/ico_inquire01.png) no-repeat center / cover;
}

.sub_visual.full h2 {
    position: static;
    transform: none;
    margin-bottom: 25px;
}
.visual_info {
    position: relative;
}
.visual_info .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    transform: translate(-50%, -50%);
}
.visual_info p {
    line-height: 1.5;
}
.visual_info p:not(:last-child) {
    margin-bottom: 70px;
}
.guide_info {
    height: 910px;
    color: #fff;
}
.guide_info .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    padding: 180px 0;
    text-align: left;
    transform: translate(-50%, -50%);
}
.guide_info .info_head {
    margin-bottom: 120px;
}
.guide_info .info_head h3 {
    margin-bottom: 40px;
    line-height: 1.4;
}
.guide_info .info_head p {
    line-height: 1.5;
}
.guide_info .info_body {
    display: flex;
    gap: 70px;
}
.guide_info .info_body .video {
    overflow: hidden;
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 305px;
    margin: 0 auto;
    border-radius: 20px;
}
.guide_info .info_list {
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.hypen_list {
    position: relative;
}
.info_list li,
.hypen_list li {
    position: relative;
	padding-left: 12px;
    line-height: 1.4;
    /* color: #666; */
}
.info_list li span {
    display: block;
    margin-top: 14px;
}
.guide_info .info_list li {
    color: #fff;
}
.hypen_list li:not(:last-child),
.info_list li:not(:last-child) {
	margin-bottom: 16px;
}
.hypen_list li:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '-';
}
.info_list li::after {
	position: absolute;
	top: 9px;
	left: 0;
	content: '';
	width: 3px;
	height: 3px;
	background-color: #666;
}
.guide_info .info_list li::after {
    background-color: #fff;
}
ol.round_num li {
    margin: 0;
    margin-bottom: 22px;
}
ol.round_num li:last-child {
    margin-bottom: 0;
}

.content h2 {
    margin-bottom: 30px;
    line-height: 1.4;
}
.img_cont .item {
    overflow: hidden;
    border-radius: 10px;
}
.tab_nav {
    margin-bottom: 70px;
}


/* sub_visual */
.sub_visual.full,
.visual_info.full,
.guide_info.full {
    position: relative;
}
.sub_visual.full::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
}
.visual_info.full::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.business .sub_visual {
    background-image: url(../images/business/visual_business_01.png);
}
.business .visual_info {
    background-image: url(../images/business/visual_business_info_01.png);
}
.automotive_battery .sub_visual {
    background-image: url(../images/business/visual_business_02.png);
}
.automotive_battery .visual_info {
    background-image: url(../images/business/visual_business_info_02.png);
}
.ess .sub_visual {
    background-image: url(../images/business/visual_business_03.png);
}
.ess .visual_info {
    background-image: url(../images/business/visual_business_info_03.png);
}
.materials .sub_visual {
    background-image: url(../images/business/visual_business_04.png);
}
.materials .visual_info {
    background-image: url(../images/business/visual_business_info_04.png);
}
.isi .sub_visual {
    background-image: url(../images/business/visual_business_05.png);
}
.isi .guide_info {
    background: linear-gradient(180deg, #121212 0%, #273479 30.41%, #425BE6 100%);
}

/* features_cont */
.features_cont {
    margin-bottom: 180px;
}
.features_cont li {
    height: 200px;
    padding: 30px;
    background-color: #FFFFFF;
    background-position: bottom 30px right 30px;
    background-size: 50px;
    background-repeat: no-repeat;
    box-shadow: 5px 8px 30px rgb(16 28 93 / 10%);
    border-radius: 20px;
}
.automotive_battery .features_cont li {
    height: 320px;
}

.business .features_cont li:nth-child(1) {
    background-image: url(../images/business/ico_features01_01.png);
}
.business .features_cont li:nth-child(2) {
    background-image: url(../images/business/ico_features01_02.png);
}
.business .features_cont li:nth-child(3) {
    background-image: url(../images/business/ico_features01_03.png);
}
.business .features_cont li:nth-child(4) {
    background-image: url(../images/business/ico_features01_04.png);
}
.automotive_battery .features_cont li:nth-child(1) {
    background-image: url(../images/business/ico_features02_01.png);
}
.automotive_battery .features_cont li:nth-child(2) {
    background-image: url(../images/business/ico_features02_02.png);
}
.automotive_battery .features_cont li:nth-child(3) {
    background-image: url(../images/business/ico_features02_03.png);
}
.automotive_battery .features_cont li:nth-child(4) {
    background-image: url(../images/business/ico_features02_04.png);
}
.automotive_battery .features_cont li:nth-child(5) {
    background-image: url(../images/business/ico_features02_05.png);
}
.ess .features_cont li:nth-child(1) {
    background-image: url(../images/business/ico_features03_01.png);
}
.ess .features_cont li:nth-child(2) {
    background-image: url(../images/business/ico_features03_02.png);
}
.ess .features_cont li:nth-child(3) {
    background-image: url(../images/business/ico_features03_03.png);
}
.materials .features_cont li:nth-child(1) {
    background-image: url(../images/business/ico_features04_01.png);
}
.materials .features_cont li:nth-child(2) {
    background-image: url(../images/business/ico_features04_02.png);
}
.materials .features_cont li:nth-child(3) {
    background-image: url(../images/business/ico_features04_03.png);
}

.features_cont .item b {
    display: block;
    margin-bottom: 16px;
    line-height: 1.4;
    color: #435CE7;
}
.item p {
    line-height: 1.4;
}

/* subTab_cont */
.subTab_cont {
    gap: 14px;
    margin-bottom: 0;
    /* margin-bottom: 120px; */
}

/* item_cont */
.tab_menu {
    margin-bottom: 90px;
}
.item_cont figure {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #fff;
}
.item_cont figure img {
    height: 100%;
    margin: 0 auto;
}
.item_cont .txt_cont:not(:last-child),
.tab_item .txt_cont:not(:last-child) {
    margin-bottom: 60px;
}
.notice_cont {
    margin-bottom: 90px;
}
.notice_cont .bgcolors-b3 {
    margin-bottom: 30px;
    padding: 56px 70px 42px 110px;
    border-radius: 20px;
    background-image: url(../images/business/ico_notice_cont03.png);
    background-repeat: no-repeat;
    background-position: top 40px left 40px;
    background-size: 50px;
}
.charging .notice_cont .bgcolors-b3 {
    background-image: url(../images/business/ico_notice_cont01.png);
}
.handling .notice_cont .bgcolors-b3 {
    background-image: url(../images/business/ico_notice_cont02.png);
}
.tab_nav1 {
    margin-bottom: 90px;
}
.isi .tab_item h3 {
    margin-bottom: 40px;
    line-height: 1.4;
}
.isi .tab_item h3.second_tit {
    margin-top: 90px;
}

.item_cont .txt_cont b,
.tab_item .txt_cont b {
    display: block;
    margin-bottom: 20px;
    line-height: 1.4;
}
.notice_cont b {
    display: block;
    margin-bottom: 35px;
    line-height: 1.4;
}
.item_cont p,
.tab_item p {
    line-height: 1.4;
    color: #666;
}

.img_cont .flex_item_4n {
    width: calc((100% - 48px)/4);
    height: 100%;
    max-height: 180px;
    border: 1px solid #F5F5F5;
}


/* business_info */
.info_cont {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding: 41px 60px;
    border-radius: 20px;
    background: #435CE7;
}
.info_cont dl {
    gap: 40px;
}
.info_cont dl dt {
    line-height: 1.4;
    color: #FFFFFF;
}
.info_cont dl dd {
    line-height: 1.7;
    color: #FFFFFF;
    opacity: 0.8;
}
.info_cont a {
    display: inline-block;
    line-height: 1.4;
    color: #FFFFFF;
}
.list_move_btn {
    padding-right: 20px;
    line-height: 1.45;
    background: url(../images/common/ico_move_w.png) no-repeat right center;
    background-size: 7px;
}

/* 테블릿
**********************************************************/
@media all and (max-width: 1280px) {
    .isi .mo {
        display: none;
    }

    /* features_cont */
    .features_cont {
        margin-bottom: 120px;
    }
    .flex_item_2n {
        width: 100%;
        min-width: 240px;
    }
    .flex_item_4n,
    .flex_item_5n {
        width: calc(50% - 7.5px);
    }

    /* sub_visual */
    .visual_info.full .inner {
        width: 100%;
        padding: 0 24px;
    }
    .guide_info {
        height: 980px;
    }
    .guide_info .inner {
        padding: 90px 24px;
    }
    .guide_info .info_head {
        margin-bottom: 60px;
    }
    .guide_info .info_head h3 {
        margin-bottom: 16px;
        line-height: 1.3;
    }
    .guide_info .info_body {
        display: block;
    }
    .guide_info .info_body .video {
        height: 100%;
        margin: 0 auto 20px;
        border-radius: 14px;
    }
    .guide_info .info_list {
        padding: 24px;
        border-radius: 7px;
    }
    .notice_cont {
        margin-bottom: 70px;
    }
    .notice_cont .bgcolors-b3 {
        background-position: top 17px left 24px;
        background-size: 40px;
        border-radius: 14px;
    }
    .notice_cont b {
        margin-bottom: 17px;
        padding-left: 55px;
        line-height: 1.3;
    }

    .tab_nav1 {
        margin-bottom: 40px;
    }

    .features_cont ul {
        flex-wrap: wrap;
        gap: 14px;
    }
    .features_cont li.flex_item_3n,
    .features_cont li.flex_item_4n,
    .features_cont li.flex_item_5n:last-child {
        height: 78px;
    }
    .features_cont li.flex_item_5n {
        height: 100px;
    }

    .features_cont .item b {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.3;
    }
    .features_cont li p {
        display: none;
    }
    .features_cont li {
        background-position: bottom 50% right 30px !important;
        background-size: 36px;
        border-radius: 14px;
    }
    .img_cont {
        overflow-x: auto;
    }
    .item_cont figure {
        margin-bottom: 30px;
        text-align: center;
        border-radius: 14px;
    }
    .item_cont .txt_cont {
        margin-bottom: 40px; 
    }
    .item_cont .txt_cont b {
        margin-bottom: 16px;
    }
    .img_cont .flex_item_4n {
        width: 100%;
        min-width: 240px;
    }
    .img_cont .item {
        border-radius: 14px;
    }
    .isi .tab_item h3 {
        margin-bottom: 16px;
        line-height: 1.3;
    }
    .isi .tab_item h3.second_tit {
        margin-top: 40px;
    }
    .item_cont .txt_cont:not(:last-child),
    .tab_item .txt_cont:not(:last-child) {
        margin-bottom: 40px;
    }
    .item_cont .txt_cont b,
    .tab_item .txt_cont b {
        margin-bottom: 16px;
    }
    .notice_cont .bgcolors-b3 {
        margin-bottom: 16px;
        padding: 24px;
    }
    ol.round_num li {
        margin-bottom: 16px;
        line-height: 1.3;
    }
    
    /* subTab_cont */
    .content h2 {
        line-height: 1.3;
    }

    section.content .inner {
        padding: 0;
    }
    
    .tab_list ul {
        gap: 0;
    }
    .tab_list ul li {
        width: calc(100% / 3)!important;
    }
    .ess .tab_list ul li {
        width: calc(100% / 4) !important;
    }
    .materials .tab_list ul li {
        width: calc(100% / 2) !important;
    }
    .subTab_cont ul.tab_menu {
        margin-bottom: 20px;
    }
    .subTab_cont {
        gap: 14px;
        /* margin-bottom: 70px; */
    }
}
@media all and (max-width: 720px) {
    .pc, span.pc {display: none;}
    .mo {display: block;}
    .isi .mo {
        display: block;
    }

    .sub_visual.full {
        padding: 0 24px;
    }

    section.content .content_inner {
        padding: 90px 24px;
    }
    .isi section.content .content_inner {
        padding: 40px 24px 90px ;
    }
    
    /* sub_visual */
    .sub_visual.full::after {
        height: 200px;
    }
    .visual_info.full::after {
        height: 200px;
    }
    .visual_info p {
        font-size: 16px;
    }

    .business .sub_visual {
        background-image: url(../images/business/visual_business_01_mo.png);
    }
    .business .visual_info {
        background-image: url(../images/business/visual_business_info_01_mo.png);
    }
    .automotive_battery .sub_visual {
        background-image: url(../images/business/visual_business_02_mo.png);
    }
    .automotive_battery .visual_info {
        background-image: url(../images/business/visual_business_info_02_mo.png);
    }
    .ess .sub_visual {
        background-image: url(../images/business/visual_business_03_mo.png);
    }
    .ess .visual_info {
        background-image: url(../images/business/visual_business_info_03_mo.png);
    }
    .materials .sub_visual {
        background-image: url(../images/business/visual_business_04_mo.png);
    }
    .materials .visual_info {
        background-image: url(../images/business/visual_business_info_04_mo.png);
    }
    .isi .sub_visual {
        background-image: url(../images/business/visual_business_05_mo.png);
    }
    
    /* features_cont */
    .content h2 {
        margin-bottom: 40px;
    }
    .features_cont {
        margin-bottom: 90px;
    }
    .features_cont ul {
        gap: 16px;
    }
    .features_cont li.flex_item_4n,
    .features_cont li.flex_item_5n {
        width: 100%;
    }

    .tab_nav {
        margin-bottom: 35px;
    }

    /* info_cont */
    .info_cont {
        display: block !important;
        margin-top: 70px ;
        padding: 20px;
        border-radius: 14px;
    }
    .info_cont dl.flex {
        display: block !important;
        /* flex-wrap: wrap;
        gap: 10px; */
    }
    .info_cont dl dt {
        margin-bottom: 10px;
    }
    .info_cont dl dd {
        margin-bottom: 20px;
        line-height: 1.3;
    }
    .info_cont a {
        opacity: 0.8;
    }
    .notice_cont .bgcolors-b3 {
        background-position: top 24px left 24px;
    }
    .e-cigarette .notice_cont .bgcolors-b3,
    .power_bank .notice_cont .bgcolors-b3 {
        background-position: top 17px left 24px;
    }

    .list_move_btn {
        background-position-y: 4.3px;
    }
}

@media all and (max-width: 374px) { 

}