@charset "UTF-8";

/* Skip Navi
****************************************************************/
nav#skip_navi a {
  position: fixed;
  z-index: 89;
  top: -999px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  padding: 18px 0px;
  text-align: center;
  background-color: #020a0a;
}
nav#skip_navi a:focus {
  top: 0px;
}

/* Header
****************************************************************/
/* keyinfo_wrap */
.utill {
  display: none;
}
/* header.header {position: fixed;z-index: 9;top: 0px;left: 0px;width: 100%;height: 80px;border-bottom: 1px solid transparent;background-color: transparent;transition: 0.3s ease border-bottom-color,0.3s ease background-color,0.3s ease transform;} */
header.header {
  position: fixed;
  z-index: 90;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: #fff;
  transition: height 0.3s;
}
header.header.on::after {
  content: "";
  display: block;
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}
header.header.on,
header.header.gnb_open {
  border-bottom-color: #435ce7;
  border-bottom: 1px solid #435ce7;
  background-color: #ffffff;
}
header.header.gnb_open {
  z-index: 12;
}
header.header h1 {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  padding: 26px 0 0 80px;
  line-height: 1;
}
header.header h1 a {
  display: block;
  width: 160px;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../../assets/images/layout/logo_header.svg) no-repeat;
}
header.header.on h1 a,
header.header.gnb_open h1 a {
  background: url(../../assets/images/layout/logo_header_on.svg) no-repeat;
}

/* nav.gnb */
header.header nav.gnb {
  position: relative;
  z-index: 1;
  width: 960px;
  margin: 0 auto;
}
header.header nav.gnb > ul::after {
  content: "";
  display: block;
  clear: both;
}
header.header nav.gnb > ul > li {
  float: left;
  line-height: 0;
}
header.header nav.gnb > ul > li > a {
  position: relative;
  display: block;
  padding: 29px 0;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 160px;
  text-align: center;
}
header.header nav.gnb > ul > li > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  opacity: 0;
  background-color: #435ce7;
  transition: 0.3s ease width, 0.3s ease opacity;
}
header.header nav.gnb > ul > li.active > a span {
  color: #435ce7;
}
header.header nav.gnb > ul > li.active > a::after {
  opacity: 1;
  width: 100%;
}
header.header.on nav.gnb > ul > li::after {
  content: "";
  display: block;
  position: relative;
}
header.header.on nav.gnb > ul > li > a,
header.header.gnb_open nav.gnb > ul > li > a {
  color: #222222;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) color;
}
header.header.on nav.gnb > ul > li > a.active,
header.header.gnb_open nav.gnb > ul > li > a.active {
  color: #435ce7;
}
header.header.on nav.gnb > ul > li > a:after,
header.header.gnb_open nav.gnb > ul > li > a:after {
  opacity: 1;
}
header.header.on nav.gnb > ul > li > a.active:after,
header.header.gnb_open nav.gnb > ul > li > a.active:after {
  width: calc(100% - 0px);
}
header.header nav.gnb > ul > li > .depth_menu {
  display: none;
  transition: display 1s;
}
header.header nav.gnb > ul > li > .depth_menu {
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 50%;
  padding: 50px 0 52px;
  box-sizing: border-box;
  line-height: 1;
  transform: translate(-50%, 0);
}
header.header nav.gnb > ul > li > .depth_menu > ul {
  justify-content: center;
  display: flex;
}
header.header nav.gnb > ul > li.depth01 > .depth_menu > ul > li {
  box-sizing: border-box;
}
/* header.header nav.gnb > ul > li > .depth_menu > ul > li {height: 120px; overflow: hidden;} */
header.header nav.gnb > ul > li > .depth_menu > ul > li {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  white-space: nowrap;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > a {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  word-break: keep-all;
  transition: 0.3s ease color;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > a.btn_link {
  color: #222222;
  padding-right: 25px;
  margin-right: -25px;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > a.btn_link::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../assets/images/common/ico_external.png") no-repeat 50%;
  content: "";
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > a .inquire_btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background: url("../../assets/images/layout/icon_link_01.png") no-repeat
    center / cover;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul {
  flex-direction: column;
  margin-top: 20px;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li {
  position: absolute;
  margin-top: 16px;
  line-height: 16px;
  white-space: nowrap;
  letter-spacing: -0.5px;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li:first-child {
  margin-left: 0px;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  transition: 0.3s ease color;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a:hover,
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a:focus {
  color: #435ce7;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background-color: #00b4ed;
  transition: 0.3s ease width;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a:hover:after,
header.header nav.gnb > ul > li > .depth_menu > ul > li > ul > li > a:focus:after {
  width: 100%;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li.more[data-state="open"] > a:after {
	background-image: url("../../assets/images/common/ico_arr_close.png");
}
header.header nav.gnb > ul > li > .depth_menu > ul > li.more.open > a:after {
  background-image: url("../../assets/images/common/ico_arr_close.png");
}
header.header nav.gnb > ul > li > .depth_menu > ul > li.more.open .depth_detail {
  display: block;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li.more > a {
  padding-right: 25px;
  margin-right: -25px;
}
header.header nav.gnb > ul > li > .depth_menu > ul > li.more > a:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../../assets/images/common/ico_arr_open.png") no-repeat 50%;
}
header.header nav.gnb .depth_detail {
  margin-top: 20px;
  margin-bottom:10px; 
  font-size: 0;
  display: none;
  transition: display 0.3s;
}
header.header nav.gnb .depth_detail.open {
  display: block;
}
header.header nav.gnb .depth_detail ul {
  display: block;
  transition: display 1s;
}
header.header nav.gnb .depth_detail ul li:not(:last-child) {
  margin-bottom: 16px;
}
header.header nav.gnb .depth_detail li a {
  display: inline-block;
  font-size: 16px;
  color: #666666;
}
/* nav.gnb */
header.header nav.user_menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 80px;
  height: 100%;
}
header.header nav.user_menu > ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
header.header nav.user_menu > ul > li {
  position: relative;
  line-height: 0;
  padding: 27px 14px;
}
header.header nav.user_menu > ul > li:first-child {
  margin-left: 0px;
}
header.header nav.user_menu > ul > li > button {
  display: block;
  line-height: 1;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
header.header nav.user_menu > ul > li > button.btn_keyinfo {
  width: 91px;
  height: 26px;
  background-image: url(../../assets/images/layout/btn_KeyInfo_pc.png);
}
header.header nav.user_menu > ul > li > button.btn_language {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_language.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_language,
header.header.gnb_open nav.user_menu > ul > li > button.btn_language {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_language_on.svg);
}
header.header nav.user_menu > ul > li > button.btn_search {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_search.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_search,
header.header.gnb_open nav.user_menu > ul > li > button.btn_search {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_search_on.svg);
}
header.header nav.user_menu > ul > li > button.btn_share {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_share.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_share,
header.header.gnb_open nav.user_menu > ul > li > button.btn_share {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_share_on.svg);
}
header.header nav.user_menu > ul > li > button.btn_gnb_all {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_sitemap.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_gnb_all,
header.header.gnb_open nav.user_menu > ul > li > button.btn_gnb_all {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_sitemap_on.svg);
}
/* header.header nav.user_menu > ul > li > button.btn_sitemap {display:none;} */
header.header nav.user_menu > ul > li > button.btn_sitemap {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_sitemap.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_sitemap,
header.header.gnb_open nav.user_menu > ul > li > button.btn_sitemap {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_sitemap_on.svg);
}
header.header.on nav.user_menu > ul > li > button.btn_sitemap,
header.header.gnb_open nav.user_menu > ul > li > button.btn_sitemap {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/layout/btn_g_sitemap_on.svg);
}
header.header nav.user_menu > ul > li > ul.language {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #ffffff;
  box-shadow: 5px 10px 24px rgba(34, 34, 34, 0.25);
  border-radius: 10px;
  width: 70px;
}
header.header nav.user_menu > ul > li > ul.language > li {
  margin-top: 20px;
  text-align: center;
}
header.header nav.user_menu > ul > li > ul.language > li:first-child {
  margin-top: 0;
}
header.header nav.user_menu > ul > li > ul.language > li > a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #888888;
}
header.header nav.user_menu > ul > li > ul.language > li > a:hover,
header.header nav.user_menu > ul > li > ul.language > li > a:focus {
  font-weight: 700;
  color: #435ce7;
}
header.header nav.user_menu > ul > li > ul.language > li > a.active {
  font-weight: 700;
  color: #435ce7;
}

/* Sitemap
****************************************************************/
aside#sitemap {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  transition: 0.3s ease width;
}
aside#sitemap nav.gnb {
  padding: 72px 0 170px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
}
aside#sitemap nav.gnb ul li {
  position: relative;
  line-height: 0;
}
aside#sitemap nav.gnb ul li a {
  display: block;
  line-height: 1;
}
aside#sitemap nav.gnb > ul {
  width: 100%;
}
aside#sitemap nav.gnb > ul > li > a {
  position: relative;
  box-sizing: border-box;
  padding: 24px;
  z-index: 3;
}
aside#sitemap nav.gnb > ul > li > a:hover b,
aside#sitemap nav.gnb > ul > li > a:focus b {
  color: #435ce7;
}
aside#sitemap nav.gnb > ul > li > a b {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  color: #222222;
  transition: 0.3s ease color;
}
aside#sitemap nav.gnb > ul > li > a.active b {
  color: #435ce7;
}
aside#sitemap nav.gnb > ul > li > a + button.depth_open {
  display: block;
  z-index: 2;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../assets/images/layout/bullet_gnb_deps.png) no-repeat
    center center;
  background-size: 18px;
  padding: 25px 34px;
}

aside#sitemap nav.gnb > ul > li > a.active + button.depth_open {
  display: block;
  z-index: 2;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../assets/images/layout/bullet_gnb_deps_on.png) no-repeat
    center center;
  background-size: 18px;
  padding: 25px 34px;
}

aside#sitemap nav.gnb > ul > li > ul {
  display: none;
  padding: 24px 0;
  box-sizing: border-box;
  background: #f6f7fe;
}
aside#sitemap nav.gnb > ul > li > ul li {
  position: relative;
}
aside#sitemap nav.gnb > ul > li > ul li:first-child {
  margin-top: 0;
}
aside#sitemap nav.gnb > ul > li > ul li a {
  position: relative;
  padding: 0 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 52px;
  z-index: 3;
}
aside#sitemap nav.gnb > ul > li > ul li a.active {
  color: #435ce7;
}
aside#sitemap nav.gnb > ul > li > ul li a + button.depth_detail_open {
  width: 52px;
  height: 52px;
  display: block;
  z-index: 2;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../assets/images/layout/bullet_gnb_deps.png) no-repeat
    center center;
  background-size: 18px;
}
aside#sitemap nav.gnb > ul > li > ul li a.active + button.depth_detail_open {
  display: block;
  z-index: 2;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  background: url(../../assets/images/layout/bullet_gnb_deps_on.png) no-repeat
    center center;
  background-size: 18px;
}
/* aside#sitemap nav.gnb > ul > li > ul li a:hover,
aside#sitemap nav.gnb > ul > li > ul li a:focus{color: #435CE7;} */
aside#sitemap nav.gnb > ul > li > ul li a.btn_link span {
  display: inline-block;
  position: relative;
  color: #222222;
  padding-right: 25px;
  margin-right: -25px;
}
aside#sitemap nav.gnb > ul > li > ul li a.btn_link span::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../assets/images/common/ico_external.png") no-repeat 50%;
  content: "";
}
aside#sitemap nav.user_menu {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 24px;
  height: 58px;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
}
aside#sitemap nav.gnb > ul > li > ul > li > ul {
  display: none;
  padding: 0 10px;
  box-sizing: border-box;
  background: #f6f7fe;
}
aside#sitemap nav.gnb > ul > li > ul > li > ul li {
  position: relative;
}
aside#sitemap nav.gnb > ul > li > ul > li > ul li:first-child {
  margin-top: 0;
}
aside#sitemap nav.gnb > ul > li > ul > li > ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #666666;
}
aside#sitemap nav.gnb > ul > li > ul > li > ul li a:hover,
aside#sitemap nav.gnb > ul > li > ul > li > ul li a:focus {
  color: #435ce7;
}
aside#sitemap nav.user_menu > ul.language {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 24px;
}
aside#sitemap nav.user_menu > ul.language > li {
  position: relative;
  line-height: 0;
  margin-left: 10px;
}
aside#sitemap nav.user_menu > ul.language > li:first-child {
  margin-left: 0px;
}
aside#sitemap nav.user_menu > ul.language > li a {
  display: block;
  width: 49px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
aside#sitemap nav.user_menu > ul.language > li a.active {
  background: #435ce7;
  color: #ffffff;
  font-weight: 600;
}
aside#sitemap nav.user_menu button.btn_close {
  position: absolute;
  width: 24px;
  top: 17px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: block;
  line-height: 1;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../../assets/images/layout/btn_g_sitemap_close.png) no-repeat
    center center;
  background-size: 100%;
}
aside#sitemap .sns_wrap {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  line-height: 0;
  background: #f5f5f5;
  width: 100%;
  padding: 24px 0;
}
aside#sitemap .sns_wrap ul.sns {
  display: flex;
  justify-content: center;
}
aside#sitemap .sns_wrap ul.sns li {
  margin-left: 31px;
}
aside#sitemap .sns_wrap ul.sns li:first-child {
  margin-left: 0px;
}
aside#sitemap .sns_wrap ul.sns li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
/* Container
****************************************************************/

section.content .content_inner {
  width: 1200px;
  margin: 0px auto;
  padding: 120px 0 180px;
}
section.content .content_inner.type2 {
	padding: 70px 0 180px;
}
section.content .inner {
  position: relative;
  width: 1200px;
  margin: 0px auto;
}
/* Sub Visual */
.sub_visual {
  position: relative; /*padding: 200px 0 140px;*/
  height: 400px;
  color: #ffffff;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.visual_info {
  position: relative;
  color: #ffffff;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.sub_visual.full,
.visual_info.full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.sub_visual.full,
.sub_visual h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  color: #ffffff;
}
.sub_visual.full h1 {
  position: absolute;
  top: 42.963vh;
  left: 0px;
  width: 100%;
}
.sub_visual p.intro {
  padding: 120px 0px 48px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
}
.sub_visual.full h2 {
  position: static;
  transform: none;
  margin-bottom: 25px;
}
.sub_visual h2 {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 100%;
  line-height: 1.4;
  color: #ffffff;
  transform: translate(-50%, 0);
}
.sub_visual.full p {
  line-height: 1.4;
}
.sub_visual .btn_scrolldown {
  display: none;
}
.sub_visual.full .btn_scrolldown {
  display: inline-block;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 0;
}
.sub_visual.full .btn_scrolldown button {
  width: 40px;
  height: 40px;
  background: url("../../assets/images/layout/btn_sv_scrolldown.png") no-repeat
    center / 39px 23px;
}
/* Top Move
****************************************************************/
/* #btn_top_move {display: block;position: fixed;z-index: 2;bottom: 50px;right: 50px;line-height: 1;}
#btn_top_move button {width: 60px;height: 60px;} */
.quick {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 50px;
  line-height: 1;
}
.quick button:not(:last-child) {
  margin-bottom: 14px;
}
/* gnb BG
****************************************************************/
#bg_gnb_modal {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
/* popup
****************************************************************/
/* common */
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 10px 24px rgba(34, 34, 34, 0.25);
  background: #fff;
  z-index: 9999;
}
.popup .hide_cont input[type="checkbox"] {
  width: 0;
  height: 0;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.popup .hide_cont input[type="checkbox"] + label::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/common/checkbox.png") no-repeat;
  background-size: contain;
  vertical-align: sub;
}
.popup .hide_cont input[type="checkbox"]:focus + label {
  outline: auto;
}
.popup .hide_cont input[type="checkbox"]:checked + label::before {
  content: "";
  background: url("../images/common/checkbox_on.png") no-repeat center center;
  background-size: contain;
}
.popup .pop_foot .cancel {
  color: #888888;
}
.popup .pop_foot .check {
  color: #435ce7;
}
.popup .pop_foot .close {
  color: #222;
}
.popup .btn_close {
  position: absolute;
}
.popup .btn_close button {
  width: 32px;
  height: 32px;
}

/* full_modal */
.popup.full_modal {
  padding-top: 76px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  transition: 0.2 ease;
}
.popup.full_modal .pop_head {
  margin-bottom: 76px;
}
.popup.full_modal .pop_head h3 {
  text-align: center;
}
.popup.full_modal .pop_body {
  height: 65.55%;
}
.popup.full_modal .pop_body .pop_inner {
  padding-right: 20px;
  margin: 0 auto;
  width: 1226px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup.full_modal .pop_body .pop_inner::-webkit-scrollbar {
  width: 6px;
}
.popup.full_modal .pop_body .pop_inner::-webkit-scrollbar-thumb {
  height: 10%;
  border-radius: 10px;
  background: #dddddd;
}
.popup.full_modal .pop_body .pop_inner::-webkit-scrollbar-track {
  background: #ffffff;
}
.popup.full_modal .pop_body .pop_inner .pop_cont {
  width: 100%;
}
.popup.full_modal .btn_close {
  right: 80px;
  top: 80px;
}

/* basic_modal */
.popup.basic_modal {
  padding: 40px;
  max-width: 790px;
  min-width: 450px;
}
.popup.basic_modal .pop_head {
  margin-bottom: 30px;
}
.popup.basic_modal .pop_head .logo {
  margin-bottom: 12px;
  width: 120px;
  height: 20px;
}
.popup.basic_modal .pop_head .logo img {
  display: block;
  width: 100%;
}
.popup.basic_modal .pop_head h2 {
  line-height: 1;
}
.popup.basic_modal .pop_body {
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 40px 0 60px;
  max-height: 436px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.popup.basic_modal .pop_body::-webkit-scrollbar {
  width: 6px;
}
.popup.basic_modal .pop_body::-webkit-scrollbar-thumb {
  height: 45.87%;
  border-radius: 10px;
  background: #dddddd;
}
.popup.basic_modal .pop_body::-webkit-scrollbar-track {
  background: #ffffff;
}
.popup.basic_modal .pop_body p {
  margin-bottom: 40px;
  line-height: 1.4;
}
.popup.basic_modal .pop_body ul li {
  padding-left: 10px;
  line-height: 1.5;
  position: relative;
}
.popup.basic_modal .pop_body ul li::before {
  margin-right: 7px;
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: #666666;
  position: absolute;
  left: 0;
  top: 8px;
}
.popup.basic_modal .pop_body .btn_area {
  margin-top: 60px;
}
.popup.basic_modal .pop_body .btn_area button:not(:first-child) {
  margin-left: 16px;
}
.popup.basic_modal .pop_foot {
  justify-content: space-between;
}
.popup.basic_modal .btn_close {
  right: 40px;
  top: 40px;
}

/* alert_modal */
.popup.alert_modal {
  max-width: 1000px;
  min-width: 450px;
  width: 100%;
  min-height: 168px;
  max-height: 600px;
}
.popup.alert_modal .pop_body {
  max-height: 540px;
  height: 100%;
  border-bottom: 1px solid #dddddd;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.popup.alert_modal .pop_body .pop_img {
  border-radius: 10px 10px 0 0;
  height: 100%;
}
.popup.alert_modal .pop_body img {
  display: block;
  width: 100%;
}
.popup.alert_modal .pop_foot {
  justify-content: space-between;
}

.popup.alert_modal.type1 .pop_foot {
  padding: 20px 40px;
} /* 이미지 큰 팝업 */
.popup.alert_modal.type2 {
  width: auto;
} /* 알림 작은 팝업 */
.popup.alert_modal.type2 .pop_body {
  padding: 30px;
} /* 알림 작은 팝업 */
.popup.alert_modal.type2 .pop_body strong {
  display: block;
  margin-bottom: 20px;
}
.popup.alert_modal.type2 .pop_body .pop_txt {
  margin-bottom: 24px;
  line-height: 1.4;
}
.popup.alert_modal.type2 .pop_body .pop_notice {
  margin-bottom: 30px;
  line-height: 1.4;
}
.popup.alert_modal.type2 .pop_body a {
  display: block;
  text-decoration: underline;
}
.popup.alert_modal.type2 .pop_foot {
  justify-content: flex-end;
}
.popup.alert_modal.type2 .pop_foot a {
  padding: 17px 30px;
  line-height: 1;
}
.popup.alert_modal.type2 .pop_foot a:not(:first-child) {
  margin-left: 80px;
}

/* Modal BG
****************************************************************/
#bg_modal {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

/* Footer
****************************************************************/
#footer_wrap {
  background: #121212;
}
footer#footer {
  position: relative;
  padding: 30px 0 50px 0;
  box-sizing: border-box;
}
footer#footer .footer_line {
  width: 100%;
  height: 1px;
  background: #464c52;
  opacity: 0.5;
  filter: alpha(opaicty=50);
}
footer#footer .inner {
  position: relative;
  max-width: 1600px;
  box-sizing: border-box;
  padding: 0 80px;
  margin: 0px auto;
}
footer#footer ul.site_terms {
  position: relative;
  font-size: 0;
  line-height: 1;
  margin: 0 0 30px -44px;
}
footer#footer ul.site_terms li {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}
footer#footer ul.site_terms li a {
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
}
footer#footer ul.site_terms li a strong {
  color: #ffffff;
  font-weight: 400;
}
footer#footer ul.site_terms li {
  display: inline-block;
  vertical-align: top;
  margin-left: 44px;
}
footer#footer ul.site_terms li a {
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}
/* footer#footer ul.sns {position: absolute;right: 80px;top: 0;display: flex;} */
footer#footer ul.sns {
  position: absolute;
  right: 80px;
  top: 0;
  display: inline-flex;
  flex-wrap: wrap;
}
footer#footer ul.sns li {
  margin-left: 26px;
}
footer#footer ul.sns li:first-child {
  margin-left: 0px;
}
footer#footer ul.sns li a {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
footer#footer address {
  font-size: 16px;
  font-style: normal;
  color: #666666;
  margin: 50px 0 5px 0;
  line-height: 1;
}
footer#footer p.copyright {
  font-size: 16px;
  color: #666666;
}

/* key Info
**********************************************************/
.keyinfo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.keyinfo .keyinfo_inner {
  background: linear-gradient(180deg, #435ce7 0%, #283895 100%);
}
.keyinfo .keyinfo_cont {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 118px 0 280px;
}
.keyinfo .more {
  margin-bottom: 40px;
}
.keyinfo .more a {
  display: block;
  line-height: 1.4;
  color: #fff;
}
.keyinfo .more a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 17px;
  margin: -6px 0 0 8px;
  background: url("../../assets/images/main/ico_arr_right.png") no-repeat center /
    cover;
}
.keyinfo .stock_info .price {
  width: 350px;
  height: 140px;
  border-radius: 20px;
  background-color: rgba(67 92 231 / 30%);
}
.keyinfo .stock_info .price a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
}
.keyinfo .key_info_util {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 90px;
  width: 100%;
}
.keyinfo .key_info_util > ul {
  gap: 10px;
}
.keyinfo .key_info_util > ul li {
  width: 130px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}
.keyinfo .key_info_util > ul a {
  display: table-cell;
  vertical-align: bottom;
  width: 1000px;
  padding: 75px 17px 13px;
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 40px 40px;
}
.keyinfo .key_info_util > ul a span {
  display: table-cell;
  vertical-align: middle;
  width: 1000px;
  height: 42px;
  line-height: 1.3;
}
.keyinfo .key_info_util li:nth-child(1) a {
  background-image: url("../../assets/images/main/ico_key01.png");
}
.keyinfo .key_info_util li:nth-child(2) a {
  background-image: url("../../assets/images/main/ico_key02.png");
}
.keyinfo .key_info_util li:nth-child(3) a {
  background-image: url("../../assets/images/main/ico_key03.png");
}
.keyinfo .key_info_util li:nth-child(4) a {
  background-image: url("../../assets/images/main/ico_key04.png");
}
.keyinfo .key_info_util li:nth-child(5) a {
  background-image: url("../../assets/images/main/ico_key05.png");
}
.keyinfo .key_info_util li:nth-child(6) a {
  background-image: url("../../assets/images/main/ico_key06.png");
}
.keyinfo .key_info_util .wanted {
  border-radius: 20px;
  background-color: #fff;
}
.keyinfo .key_info_util .wanted a {
  display: flex;
  align-items: center;
  height: 130px;
  padding: 40px 100px 40px 40px;
  background: url("../../assets/images/main/ico_arr_right02.png") no-repeat
    center right 43px / 10px 17px;
}
.keyinfo .key_info_util .wanted a span {
  margin-left: 14px;
  padding: 12px 16px;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
  background-color: #435ce7;
}
.keyinfo .news ul {
  display: flex;
  gap: 24px;
}
.keyinfo .news li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.keyinfo .news li a {
  display: block;
  padding-bottom: 30px;
}
.keyinfo .news .tit {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  width: 240px;
  margin-bottom: 16px;
  color: #fff;
  line-height: 1.4;
}
.keyinfo .close {
  position: absolute;
  top: 30px;
  right: 176px;
}
.keyinfo .close a {
  display: block;
  padding: 6px 19px;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 600;
  line-height: 1;
}
.keyinfo .close a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background: url("../../assets/images/main/ico_close_blue.png") no-repeat
    center / cover;
}

/* 페널
**********************************************************/
.pannel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1280px;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background: url("../../assets/images/layout/pannel_bg.jpg") no-repeat center
    top / cover;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}
.pannel_util {
  padding-right: 80px;
  font-size: 0;
  text-align: right;
}
.pannel_util > * {
  display: inline-block;
  vertical-align: middle;
}
.pannel_util ul {
  border-radius: 30px;
  padding: 10px 16px;
  background-color: #121212;
  overflow: hidden;
}
.pannel_util ul li {
  float: left;
}
.pannel_util ul li:not(:first-child),
.pannel_util ul li:not(:last-child) {
  margin: 0 5px;
}
.pannel_util ul a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #666;
}
/* .pannel_util ul a.kr {padding: 10px 5px 10px 16px;}  */
/* .pannel_util ul a.en {padding: 10px 16px 10px 5px;} */
.pannel_util ul li.on a {
  color: #fff;
}
.pannel_util .close {
  width: 32px;
  height: 32px;
  margin-left: 42px;
}
.pannel_util .close a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/layout/ico_close_white.png") no-repeat
    center top;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.pannel_sns {
  margin-top: 38px;
  padding-right: 80px;
  font-size: 0;
  text-align: right;
}
.pannel_sns li {
  display: inline-block;
  vertical-align: top;
  margin-left: 14px;
}
.pannel_sns li:first-child {
  margin-left: 0;
}
.pannel_sns a {
  display: block;
  width: 42px;
  height: 42px;
}
.pannel_sns img {
  width: 100%;
}
.pannel_items {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 44px auto 0;
}
.pannel_items .item {
  width: 100%;
  margin-left: 40px;
}
.pannel_items .item:first-child {
  margin-left: 0;
}
.pannel_items .item h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}
.pannel_items .item h3 ~ h3 {
  margin-top: 90px;
}
.pannel_items .depth_menu > li {
  margin-top: 25px;
}
.pannel_items .depth_menu > li:first-child {
  margin-top: 0;
}
.pannel_items .depth_menu > li > a {
  display: block;
  line-height: 1.4;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.pannel_items .depth_menu > li > a[href^="javascript"] {
  pointer-events: none;
} 
.pannel_items .depth_menu > li > a.btn_link span {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  margin-right: -25px;
}
.pannel_items .depth_menu > li > a.btn_link span::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../assets/images/common/ico_external_w.png") no-repeat 50%;
  content: "";
}
.pannel_items .depth_detail > li {
  margin-top: 15px;
}
.pannel_items .depth_detail > li > a {
  display: block;
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  color: #ddd;
}



/* filter */
.filter ul.filter_menu {
  display: flex;
  gap: 14px;
  justify-content: start;
}

/* 통합검색 popup_search */
#popup_search {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  top: 0;
  padding: 0;
}
#popup_search .pop_inner {
  position: relative;
  width: 1200px;
  margin: 0px auto;
  padding: 75px 0 136px;
}
#popup_search::after {
  content: '';
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#popup_search .pop_head h3 {
  margin-bottom: 140px;
  text-align: center;
}
.filter .flex {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 14px;
}
.filter .btn {
  border-radius: 30px;
  font-size: 16px;
}
.pop_btn {
  position: absolute;
  top: 80px;
  right: 80px;
}
.pop_btn .close_btn {
  width: 32px;
  height: 32px;
  background: url(../images/common/ico_close_btn.png) no-repeat center / cover;
}

.tab_nav .tab_list {
  display: block;
}
.tab_nav .dropdown_menu {
  display: none;
}
.dropdown_menu > button {
  min-width: auto;
}
.dropdown_menu .select_btn b {
  font-weight: 700;
  font-size: 14px;
}
.dropdown_menu .select_btn.active {
  font-weight: 700;
  font-size: 14px;
}
.dropdown_menu .select_btn .total_num {
  color: #435ce7;
}
.dropdown_menu .select_btn.active .total_num {
  color: #435ce7;
}
.search_result .list_cont {
  position: relative;
  padding: 0;
  border: 0;
  margin-bottom: 120px;
}
.search_result .list_cont:last-child {
  margin-bottom: 0;
}
.search_result .list_cont_tit {
  margin-bottom: 30px;
}
.search_result .btn_area {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.search_result .list_move_btn {
  padding-right: 20px;
  line-height: 1.45;
  background: url(../images/common/ico_move.png) no-repeat right center;
  background-size: 10px;
}
.search_result .total {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 26px;
}
.search_result .total .total_num {
  font-size: 21px;
}
.list_column li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
.list_column li a {
  padding: 40px 10px;
}
.list_column li .list_column_tit {
  width: 100%;
  max-width: 800px;
}
.list_column li .list_column_tit span {
  display: block;
  margin-right: 5px;
}

/* search_not_found */
.recomm_content h4 {
  margin-bottom: 25px;
}
dl.search_none {
  text-align: center;
  margin-top: 80px;
}
dl.search_none dt {
  margin-bottom: 30px;
  font-weight: 700;
}
dl.search_none li {
  margin-bottom: 14px;
}
dl.search_none li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .search_result .tab_nav {
    margin-bottom: 40px;
  }
  .tab_nav.wide {
    width: auto;
    margin-left: 0;
    border-bottom: 0;
  }
  .tab_nav .tab_list {
    display: none;
  }
  .tab_nav .dropdown_menu {
    display: block;
  }
  /*#popup_search */
  #popup_search::after {
    display: none;
  }
  #popup_search .pop_inner {
    width: 100%;
    padding: 60px 40px 90px;
    box-sizing: border-box;
  }
  #popup_search .pop_head h1 {
    margin-bottom: 100px;
  }
  .filter .flex {
    gap: 10px;
  }
  #popup_search .pop_btn {
    top: 57px;
    right: 40px;
  }
  #popup_search {
    height: 100vh; /*padding: 0 24px;*/
  }
  /* #popup_search .pop_head h1 {margin: 20px 0;} */
  #popup_search .pop_head .close_btn {
    position: absolute;
    top: 17px;
    right: 24px;
    width: 24px;
    height: 24px;
  }

  .recomm_content h4 {
    margin-bottom: 20px;
  }
  #popup_search .list_cont ul {
    gap: 50px 1.6%;
  }
  .search_not_found .search_result {
    margin-bottom: 90px;
    text-align: left;
  }
  .search_not_found .search_result h2 {
    font-weight: 700;
  }
  .search_not_found .search_result p {
    position: relative;
    padding-left: 10px;
  }
  .search_not_found .search_result p:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #666666;
    position: absolute;
    left: 0;
    top: 10px;
  }

  .filter ul.filter_search {
    flex-wrap: wrap;
    gap: 10px;
  }
  .filter ul.filter_search li button {
    padding: 10px 16px;
    font-size: 14px;
  }
  /* btn_area */
  .btn_area {
    margin-top: 50px;
  }
  /* 검색 결과 없음 */
  .search_result h2.titsub1 {
    margin-bottom: 20px;
  }
  .search_result {
    text-align: left;
  }
  /* search_result */
  .search_result_count {
    margin-bottom: 40px;
  }
  .search_result .list_cont {
    margin-bottom: 70px;
  }
  .search_result .list_move_btn {
    padding-right: 14px;
    background-size: 6px;
  }
  .list_column li a {
    padding: 24px 0px;
  }
  .list_column li .flex_between {
    position: relative;
    display: block !important;
  }
  .list_column li .list_column_tit {
    max-width: 500px;
    margin-bottom: 16px;
    line-height: 1.3;
  }
  .list_column li .list_column_tit span {
    display: none;
  }
  .list_column li b.category {
    position: absolute;
    top: 16px;
    right: 0;
  }
  dl.search_none {
    text-align: left;
    margin: 90px 0;
  }
  dl.search_none dt {
    margin-bottom: 20px;
  }
  dl.search_none li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 7px;
  }
  dl.search_none li:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 6px; left: 0;
    width: 2px; height: 2px;
    background-color: #666;
  }
}
@media (max-width: 720px) {
  /* .wrap section.content .content_inner {padding: 118px 24px 90px;} */
  /* popup_search */
  #popup_search {
    top: 0;
  }
  #popup_search .pop_inner {
    padding: 20px 24px;
  }
  #popup_search .pop_head h1 {
    margin: 0 0 34px;
  }
  #popup_search .pop_head h3 {
    margin : 0 0 14px;
    font-size: 18px;
  }
  #popup_search .pop_body .recomm_content h4 {
    font-size: 16px;
  }
  #popup_search .pop_btn .close_btn {
    width: 20px;
    height: 20px;
  }
  .filter {
    margin-bottom: 0;
  }
  .filter .btn {
    min-width: auto;
    padding: 10px 16px;
    font-size: 14px;
  }
  #popup_search .pop_btn {
    top: 20px;
    right: 24px;
  }
  /* search_result */
  .list_column li .list_column_tit {
    max-width: 212px;
  }
}
/* 통합검색 종료 */

/* gnb 숨김 처리
**********************************************************/
@media all and (max-width: 1600px) {
  header.header nav.gnb {
    display: none;
  }
  header.header nav.user_menu > ul > li > button.btn_gnb_all {
    display: none;
  }
  header.header nav.user_menu > ul > li > button.btn_sitemap {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/layout/btn_g_sitemap.svg);
  }
}

/* 인베스트먼트에 있는 네비 Start */
.sub_nav1 {
  position: relative;
  z-index: 5;
}
.sub_nav1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
  z-index: 1;
}
.sub_nav1 .sub_nav1_inner {
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 60px;
}
.sub_nav1 .home {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.sub_nav1 .home a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/common/ico_home.png") no-repeat center /
    16px 18px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.sub_nav1 .depth {
  position: relative;
  width: 100%;
  max-width: 380px;
  margin-left: -1px;
}
.sub_nav1 .depth:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #eee;
}
.sub_nav1 .depth > a {
  display: block;
  position: relative;
  padding: 21px 50px 21px 20px;
}
.sub_nav1 .depth > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  width: 10px;
  height: 7px;
  transform: translateY(-50%);
  background: url("../../assets/images/common/ico_nav_arr.png") no-repeat center /
    cover;
}
.sub_nav1 .depth.on a:after {
  transform: rotate(180deg) translateY(50%);
}
.sub_nav1 .depth ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -1px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #eee;
}
.sub_nav1 .depth ul a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
}
.sub_nav1 .depth ul a:hover,
.sub_nav1 .depth ul a:focus {
  color: #435ce7;
  font-weight: 500;
}
.sub_nav1.type1 .depth {
  width: 33.27%;
}
.sub_nav1::after {
  display: none;
}

body.sticky .sub_nav1 {
  /* position: -webkit-sticky; 사파리 브라우저 지원 */
  /* position: sticky; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 91;
  background: #fff;
}

body.sticky .sub_nav1::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  background-color: inherit;
  top: -20px;
}

body.sticky #header_wrap.none {
  display: none;
}

.tab_area1 .tab_list1 button {
  display: none;
}
.tab_area1 .tab_list1 ul {
  display: flex;
  justify-content: center;
}
.tab_area1 .tab_list1 li {
  margin-right: 14px;
}
.tab_area1 .tab_list1 li:last-child {
  margin-right: 0;
}
.tab_area1 .tab_list1 a {
  display: block;
  padding: 15px 24px;
  border-radius: 30px;
  background-color: #eee;
  font-size: 18px;
  font-weight: 400;
  color: #888;
}
.tab_area1 .tab_list1 li.active a {
  background-color: #435ce7;
  color: #fff;
  font-weight: 500;
}

.fix_nav {
  position: relative;
}
.fix_nav:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
  z-index: -1;
}
.fix_nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.fix_nav li {
  width: 100%;
  text-align: center;
}
.fix_nav a {
  display: block;
  padding: 25px 20px;
  font-size: 20px;
  font-weight: 400;
  color: #888;
  border-bottom: 4px solid transparent;
}
.fix_nav li.on a {
  border-color: #222;
  color: #222;
  font-weight: 700;
}

.fix_nav.on {
  padding-top: 74px;
}
.fix_nav.on > div {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.fix_nav.on > div:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
  z-index: -1;
}

/* 테블릿
**********************************************************/
@media all and (max-width: 1280px) {
  /* Container
	****************************************************************/
  /* Sub Contents */
  section.content .content_inner {
    width: 100%;
    padding: 120px 40px 180px;
    box-sizing: border-box;
  }
  section.content .content_inner.type2 {
	padding: 70px 40px 180px;
  }
  section.content .inner {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
  }
  .privacy_policy section.content .wide .inner {
    padding: 0px 24px;
  }
  .privacy_policy section.content .inner {
    padding: 0;
  }
  /* Top Move
	****************************************************************/
  /* #btn_top_move {bottom: 24px;right: 30px;display: block;} */
  .quick {
    bottom: 24px;
    right: 30px;
  }

  .sub_visual.full .btn_scrolldown button {
    background-size: 15px 8px;
  }
  /* popup
	****************************************************************/
  /* common */
  .popup .btn_close button {
    width: 21px;
    height: 21px;
  }
  .popup .btn_area button {
    padding: 0 8px;
    font-size: 16px;
    min-width: 108px;
    height: 46px;
    line-height: 46px;
  }

  /* full_modal */
  .popup.full_modal .pop_body .pop_inner {
    width: calc(100% - 80px);
  }

  /* basic_modal */
  .popup.basic_modal {
    width: calc(100% - 80px);
  }
  .popup.basic_modal .pop_head .logo {
    margin-bottom: 16px;
  }
  .popup.basic_modal .pop_body {
    margin-bottom: 16px;
    padding: 30px 0;
  }
  .popup.basic_modal .pop_body p {
    margin-bottom: 30px;
  }
  .popup.basic_modal .pop_body .btn_area {
    margin-top: 50px;
    text-align: left;
  }
  .popup.basic_modal .pop_foot {
    flex-direction: column;
    justify-content: flex-start;
  }
  .popup.basic_modal .pop_foot .copyright {
    margin-bottom: 16px;
  }
  .popup.basic_modal .btn_close {
    right: 21px;
    height: 21px;
  }

  /* alert_modal */
  .popup.alert_modal {
    width: calc(100% - 80px);
  }

  /* key Info
	****************************************************************/
  .keyinfo {
    overflow-y: auto;
  }
  .keyinfo .keyinfo_cont {
    flex-wrap: wrap;
    padding: 60px 24px 50px;
  }
  .keyinfo .more {
    margin-bottom: 24px;
  }
  .keyinfo .more a:after {
    width: 6px;
    height: 11px;
  }
  .keyinfo .stock_info {
    width: 100%;
  }
  .keyinfo .stock_info .price {
    width: auto;
    height: 36px;
    margin-bottom: 50px;
    padding: 0;
    border-radius: 0;
    background-color: #eee;
  }
  .keyinfo .key_info_util {
    position: static;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .keyinfo .key_info_util > ul {
    flex-wrap: wrap;
    gap: 9px;
    width: 100%;
    margin-bottom: 30px;
  }
  .keyinfo .key_info_util > ul li {
    width: calc((100% - 18px) / 3);
    border-radius: 14px;
  }
  .keyinfo .key_info_util > ul a {
    padding: 59px 10px 7px;
    background-size: 30px;
    background-position: center 25px;
  }
  .keyinfo .key_info_util > ul a span {
    height: 37px;
  }
  .keyinfo .key_info_util .wanted {
    width: 100%;
    border-radius: 14px;
  }
  .keyinfo .key_info_util .wanted a {
    height: auto;
    padding: 21px 24px;
    background-size: 9px 16px;
  }
  .keyinfo .key_info_util .wanted a span {
    padding: 7px 16px;
    line-height: 1;
  }
  .keyinfo .news ul {
    flex-wrap: wrap;
  }
  .keyinfo .news li {
    width: 100%;
  }
  .keyinfo .news li:last-child {
    border-bottom: none;
  }
  .keyinfo .news li a {
    padding-bottom: 24px;
  }
  .keyinfo .news li:last-child a {
    padding-bottom: 0;
  }
  .keyinfo .news .tit {
    width: 100%;
    -webkit-line-clamp: 2;
  }
  .keyinfo .close {
    top: 10px;
    right: 24px;
  }

  /* Footer
	****************************************************************/
  footer#footer .footer_line {
    display: none;
  }
  footer#footer ul.site_terms {
    position: relative;
    font-size: 0;
    margin: -32px 0 40px 0;
  }
  footer#footer ul.site_terms li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 32px 0 0 0;
    line-height: 1;
  }
  footer#footer ul.sns {
    position: inherit;
    right: 0;
  }

  /*tab area ------- */
  .tab_area1 {
    position: relative;
  }
  .tab_area1 .tab_list1 button {
    display: block;
    position: relative;
    width: 100%;
    padding: 17px 45px 17px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    color: #222;
    text-align: left;
    line-height: 1;
  }
  .tab_area1 .tab_list1 button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url("../../assets/images/common/bullet_sn_select.png") no-repeat
      center center;
    transform: translateY(-50%);
  }
  .tab_area1 .tab_list1 button.on:after {
    transform: rotate(180deg) translateY(50%);
  }
  .tab_area1 .tab_list1 ul {
    display: none;
    flex-wrap: wrap;
    max-height: 190px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    z-index: 10
  }
  .tab_area1 .tab_list1 ul.on {
    display: block;
  }
  .tab_area1 .tab_list1 li {
    width: 100%;
    margin-right: 0;
  }
  .tab_area1 .tab_list1 a {
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    color: #222;
  }
  .tab_area1 .tab_list1 li.active a {
    color: #435ce7;
    background: #f6f7fe;
    border: 0 none;
  }

  .fix_nav.typeA > div {
    overflow-x: auto;
  }
  .fix_nav.typeA > div::-webkit-scrollbar {
    display: none;
  }
  .fix_nav.typeA li {
    width: auto;
    flex-shrink: 0;
  }
}

/* 모바일 */
@media all and (max-width: 720px) {
  /* Header
	****************************************************************/
  /* utill */
  .utill {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 46px;
    background: #283895;
  }
  .utill > button.btn_keyinfo {
    display: block;
    position: absolute;
    top: 10px;
    right: 24px;
    line-height: 1;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    width: 91px;
    height: 26px;
    background-image: url(../../assets/images/layout/btn_KeyInfo_mo.png);
    background-size: 100%;
  }
  header.header {
    top: 46px;
    height: 58px;
  }
  header.header::after {
    top: 58px;
  }
  header.header.on::after{
    display: none;
  }
  header.header h1 {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    padding: 19px 0 0 24px;
    line-height: 1;
  }
  header.header h1 a {
    display: block;
    width: 118px;
    height: 21px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../assets/images/layout/logo_header.svg) no-repeat;
    background-size: 100%;
  }
  header.header.on h1 a,
  header.header.gnb_open h1 a {
    background: url(../../assets/images/layout/logo_header_on.svg) no-repeat;
    background-size: 100%;
  }
  header.header nav.user_menu {
    top: 17px;
    top: 0;
    right: 24px;
  }
  header.header nav.user_menu > ul > li {
    padding: 17px 14px;
  }
  header.header nav.user_menu > ul > li.item_01,
  header.header nav.user_menu > ul > li.item_02 {
    display: none;
  }
  /* Sitemap
	****************************************************************/
  aside#sitemap {
    width: 100%;
  }
  /* Contents
    ****************************************************************/
  /* Sub Visual */
  .sub_visual {
    margin-top: 104px;
    height: 150px;
  }
  .sub_visual.full {
    margin-top: 0;
    height: 100vh;
  }
  .sub_visual h1 {
    font-size: 36px;
  }
  .sub_visual h2 {
    top: 50px;
  }
  .sub_visual p.intro {
    padding: 30px 20px 24px;
    font-size: 20px;
  }
  .sub_visual.full p.intro {
    padding: 0px 38px;
    font-size: 20px;
  }
  .sub_visual.full p.intro br {
    display: none;
  }
  .sub_visual .btn_scrolldown img {
    width: 18px;
  }
  /* Container
	****************************************************************/
  /* Sub Contents */
  /* section.content .content_inner {width: 100%;padding: 40px 24px 90px;box-sizing: border-box;} */
  section.content .content_inner {
    padding: 70px 24px 90px;
  }
  section.content .content_inner.type2{
	padding: 40px 24px 90px;
}
  section.content .sub_visual + .content_inner {
    padding: 40px 24px 90px;
  }
  section.content .inner {
    width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
  }
  /* Top Move
	****************************************************************/
  /* #btn_top_move {right: 16px;} */
  .quick {
    right: 16px;
  }

  /* popup
	****************************************************************/
  /* common */
  .popup {
    box-shadow: none;
    border-radius: 7px;
  }

  /* full_modal */
  .popup.full_modal {
    padding-top: 20px;
  }
  .popup.full_modal .pop_body {
    height: 85.35%;
  }
  .popup.full_modal .pop_body .pop_inner {
    padding-right: 0;
    width: calc(100% - 48px);
  }
  .popup.full_modal .pop_body .pop_inner::-webkit-scrollbar {
    display: none;
  }
  .popup.full_modal .pop_head {
    margin-bottom: 34px;
  }
  .popup.full_modal .btn_close {
    right: 20px;
    top: 20px;
  }

  /* basic_modal */
  .popup.basic_modal {
    padding: 24px;
    min-width: auto;
    width: calc(100% - 48px);
  }
  .popup.basic_modal .pop_head {
    margin-bottom: 24px;
  }
  .popup.basic_modal .pop_body .btn_area button:not(:first-child) {
    margin-left: 20px;
  }

  /* alert_modal */
  .popup.alert_modal {
    min-width: auto;
    width: calc(100% - 48px) !important;
  }
  .popup.alert_modal.type1 .pop_foot {
    padding: 15px 20px;
  }
  .popup.alert_modal.type2 .pop_body strong {
    margin-bottom: 30px;
    text-align: center;
  }
  .popup.alert_modal.type2 .pop_body .pop_txt,
  .popup.alert_modal.type2 .pop_body .pop_notice,
  .popup.alert_modal.type2 .pop_body a {
    text-align: center;
  }
  .popup.alert_modal.type2 .pop_foot a {
    padding: 19px 0;
    width: 50%;
    text-align: center;
  }
  .popup.alert_modal.type2 .pop_foot a:not(:first-child) {
    margin-left: 0;
    border-left: 1px solid #dddddd;
  }

  /* Footer
	****************************************************************/
  footer#footer {
    padding: 40px 24px;
  }
  footer#footer .inner {
    padding: 0;
    margin: 0;
  }
  footer#footer .footer_line {
    display: none;
  }
  footer#footer ul.site_terms {
    position: relative;
    font-size: 0;
    margin: -32px 0 40px 0;
  }
  footer#footer ul.site_terms li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 32px 0 0 0;
    line-height: 1;
  }
  footer#footer ul.site_terms li a {
    font-size: 14px;
  }
  footer#footer ul.site_terms li a strong {
    color: #ffffff;
  }
  /* footer#footer ul.sns {position: inherit;width: 40px;height: 40px;} */
  footer#footer ul.sns {
    position: inherit;
  }
  footer#footer ul.sns li:not(first-child),
  footer#footer ul.sns li:not(last-child) {
    margin-right: 18px;
    margin-left: 0;
  }
  footer#footer ul.sns li {
    margin-bottom: 15px;
  }
  footer#footer ul.sns li a {
    width: 40px;
    height: 40px;
  }
  footer#footer address {
    font-size: 12px;
    margin: 40px 0 10px 0;
  }
  footer#footer p.copyright {
    font-size: 12px;
    line-height: 17px;
  }

  /* 인베스트먼트에 있는 네비 - mo*/
  .sub_nav1 .sub_nav1_inner {
    padding-left: 0;
  }
  .sub_nav1 .home {
    display: none;
  }
  .sub_nav1 .home + .depth {
    display: none;
  }
  .sub_nav1 .depth > a {
    padding: 12px 30px 12px 20px;
    line-height: 1.4;
	font-size: 14px;
  }
  .sub_nav1 .depth > a:after {
    width: 6px;
    height: 4px;
  }
  .sub_nav1.type1 .depth {
    width: 50%;
  }
  .sub_nav1 .depth ul a {
	font-size: 14px;
  }
  body.sticky .sub_nav1 {
    position: relative;
    top: unset;
    z-index: 5;
  }
  body.sticky #header_wrap.none {
    display: block;
  }

  .fix_nav {
    margin-top: 40px;
  }
  .fix_nav.on {
    padding-top: 44px;
  }
  .fix_nav.on > div {
    top: 104px;
  }
  .fix_nav a {
    padding: 10px 20px;
    font-size: 16px;
  }
}
/* 모바일
**********************************************************/
@media all and (max-width: 320px) {
  section.content .inner {
    padding: 0px 16px;
  }
  /* footer#footer ul.sns li {margin-left: 18px;} */
  footer#footer address {
    line-height: 1.4;
  }
}
