@charset "UTF-8";

hr.line{display: block;background-color: #dddddd; border: 0; height: 1px;margin: 100px 0;}
.guide .content_inner{padding-top: 0 !important;}
.guide .content_inner:first-child{padding-top: 120px !important;}
.guide .wide{padding: 0 !important;}
/* head */
.guide_header {margin:40px 0;}
#guide_head{width: 100%;transform:translate(0,0); transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);}
#guide_head.minify {position: fixed;z-index: 999999;transform:translate(0, 0px);box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.05);}
#guide_head header.header {position: relative;}
#guide_head .gnb_menu_group a.active{ color: #fd481a;}
#guide_head .gnb_menu_group{position: absolute;z-index: 2;top: 15px;left: 280px;}
#guide_head .gnb_menu_group ul::after{content: '';display: inline; clear: both;}
#guide_head .gnb_menu_group ul li{float: left;margin: 0 20px 0 15px;padding: 14px 0;}
#guide_head .gnb_menu_group ul li a {font-size: 14px;font-weight: 500;letter-spacing: -.025em;color: #323638;}
#guide_head .quick_menu_group{position: absolute;z-index: 2;top: 30px;right: 80px;}
#guide_head .quick_menu_group .area,
#guide_head .quick_menu_group .area > div {display: flex;justify-content: right;align-items: center;}
#guide_head .quick_menu_group .area > div{position: relative;line-height: 0;margin-left: 24px;}
#guide_head .quick_menu_group .area > div span{margin: 0 0 0 10px;}
#guide_head .quick_menu_group a{text-align: center; font-size: 10px; font-weight: 500; line-height: 1; padding: 2px 4px; color: #fff; background-color: #fd481a;}
#guide_head .quick_menu_group .inr a{background-color: #711afd;}
@media all and (max-width: 1280px) {
	#guide_head .gnb_menu_group {top:auto;bottom: 10px;}
	#guide_head .gnb_menu_group ul li{padding: 10px 0 0;}
	#guide_head .quick_menu_group {top: 15px;right: auto;left: 255px;}
}
@media all and (max-width: 720px) {
	header.header.on, header.header.gnb_open{border-bottom-color:#EEEEEE;}
	#guide_head header.header{top: 0;height: 180px;}
	#guide_head .gnb_menu_group {left: 150px;}
	#guide_head .gnb_menu_group {width: 100%;left: 0;top: 50px;}
	#guide_head .quick_menu_group{top: auto; bottom: 20px;left: 0;}
	#guide_head .quick_menu_group .area > div{margin-left:0;}
	#guide_head .quick_menu_group .area{display: block;line-height: 20px;}
	#guide_head .quick_menu_group .area > div {display: inline-block;line-height: 20px;}
}

/* contents */
.bordernone{border: 0 !important;}
h4.titmain {font-weight: 700;font-size: 18px;line-height: 18px;margin-bottom: 4px;padding: 40px 0 0px;color: #252f33;}
h4.titmain+*{margin-left: 20px;}
h4.titmain::before {content: '▪️';margin-right: 5px;font-size: 12px;}
.guide_body {width: 100%;margin: 20px auto;display: grid;}
.guide_body.bg {background-color:#fafafa;}
.guide_body+.guide_body{border-top: 1px solid #e5e5e5;box-sizing: border-box;}
.guide_body.grd {grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body.grd2 {grid-template-columns: repeat(2, 1fr);grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body.grd3 {grid-template-columns: repeat(3, 1fr);grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body.grd4 {grid-template-columns: repeat(4, 1fr);grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body.grd5 {grid-template-columns: repeat(5, 1fr);grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body.grd6 {grid-template-columns: repeat(6, 1fr);grid-gap: 20px;grid-template-rows: repeat(1, auto);}
.guide_body .item {padding: 20px;}

@media all and (max-width: 720px) {
	.guide_body.grd2,.guide_body.grd3,.guide_body.grd4,.guide_body.grd5,.guide_body.grd6,
	.guide_body.grd {grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));}
}

/* code */
.guide code {font-size: 11px;color: #61564b;background: #feffab;border-radius: 2px;padding: 0px 4px;font-weight: bold;letter-spacing: -0.025em;font-family: 'Source Sans Pro', sans-serif;}
.guide .guide_code pre code {min-height: 50px;font-size: 14px;line-height: 1.4;color: #cccccc;background: #252f33;border-radius: 2px;padding: 0px 4px;font-weight: 300;letter-spacing: -0.025em;font-family: 'Source Sans Pro', sans-serif;}
.guide .hljs-name {color: #03a9f4;}
.guide .hljs-string {color: #ffc107;}
.guide .hljs-comment {font-size: 13px;color: #269e77;}
.guide .form_field + .btn, .guide .form_field {margin-bottom: 15px;}
@media all and (max-width: 720px) {
	.guide .guide_code {width:100%;overflow: auto;}
}

/* ruleHTML */
.dcm {border: 1px solid #eee; background-color: #fff;padding: 10px 0 0 30px;}
.dcm div {border: 0px solid #eee; border-right: 0; padding: 10px 0 10px 50px;margin:10px 0 10px 50px; color: #888; }
.dcm p {padding: 10px 0px;font-size: 12px; font-weight: bold; color: #252f33;}
.dcm span {font-weight:lighter; color: #507584;} 
@media all and (max-width: 720px) {
	.dcm{padding: 10px 0 0 10px;}
	.dcm div{padding:10px 0 10px 0px;margin: 10px 0 10px 20px;}
}

/* colors */
.chip{position: relative;height: 120px;border: 1px solid #eee;border-radius: 4px;box-sizing: border-box;}
.chip div{background: #ffffff;padding: 10px;width: 100%;position: absolute;right: 0;left: 0;bottom: 15px;border: 1px solid #fff;}
.chip p {font-weight: 500;font-size: 14px;color:#333;}
.chip .code {font-weight: 100;font-size: 12px;opacity: 0.7;margin-top: 0.5rem;}

/* Typeface */
.Typeface table tr td span{background-color: #f5f5f5;}
.Typeface .fonttype1 li,.Typeface .fonttype2 li{font-size: 12px;float: left; }
.Typeface .fonttype1 li p,.Typeface .fonttype2 li p{font-weight: 500; letter-spacing: 0;margin-bottom: 8px;}
.Typeface .fonttype1 li p:nth-child(2),.Typeface .fonttype2 li p:nth-child(2){padding-bottom: 10px;}
.Typeface .fonttype1::after,.Typeface .fonttype2::after{content: ''; display: inline-block; clear:both;}
.Typeface .fonttype1 .preview, .Typeface .fonttype1 .name{font-family: 'NotoKr', sans-serif !important;}
.Typeface .fonttype2 .preview, .Typeface .fonttype2 .name{font-family: 'Montserrat', sans-serif !important;}
.Typeface .fonttype1 .preview,.Typeface .fonttype2 .preview{border: 1px solid #e5e5e5; background: #fff; border-radius: 4px; box-sizing: border-box;color: #212121; font-weight: 700; font-size: 28px; margin-right:20px;width: 70px;height: 70px;text-align: center;line-height: 70px;}
.Typeface .fonttype1 .name,.Typeface .fonttype2 .name{font-size: 14px; font-weight: 700; color: #2e2e2e;}
.Typeface .fonttype1 .weight span,.Typeface .fonttype2 .weight span{font-weight: 700; color: #898989; padding-right: 10px;}

/* Buttons */
.Buttons .guide_body .basic_table table tbody tr td {padding: 24px 20px; text-align: left;}

/* 테블릿 */
@media all and (max-width: 1280px) {
}

/* 모바일 */
@media all and (max-width: 720px) {	
}