@charset "UTF-8";
/* 공통 */
.pc {display:block;}
.mo {display:none;}
h3.mb40 {margin-bottom: 40px !important;}
p {line-height: 1.4;}
.view_body p {line-height: 1.5;color: #666666;word-break: keep-all;}
.cont_txt:not(:last-child) {margin-bottom: 60px;}
.cont_txt h4 {margin-bottom: 24px;}
.cont_txt h4 + p:not(:last-child) {margin-bottom: 40px;}
.cont_txt h4 + p.exp {margin-bottom: 20px;}
.cont_item:not(:last-child) {margin-bottom: 120px;}
.cont_head:not(:last-child) {margin-bottom: 40px;}
.cont_head h3 {margin-bottom: 30px;line-height: 1.4;}
.cont_body b.img_tit {display: block; margin-bottom: 30px;}


/* bullet */
.dot_bullet > li {padding-left: 11px; position: relative;}
.dot_bullet > li::before {content: ""; width: 3px; height: 3px; background: #222222; position: absolute; left: 0; top: 10px;}
.straight_bullet > li {padding-left: 10px; position: relative;}
.straight_bullet > li:before {content: ""; width: 3px; height: 1px; background: #666666; position: absolute; left: 0; top: 10px;}

.list_title {color: #666; margin-bottom: 16px; padding-left: 11px;}
* + .list_title {margin-top: 30px;}

/* sub_visual */
.sustainability .sub_visual,
.important_issue .sub_visual,
.risk_management .sub_visual,
.sustainable_policy .sub_visual,
.initiative .sub_visual {background-image: url('../../assets/images/esg/visual_esg_01.png');}
.environment .sub_visual,
.net_zero .sub_visual {background-image: url('../../assets/images/esg/visual_esg_02.png');}
.safety_health .sub_visual,
.social_responsibility .sub_visual,
.social_contribution .sub_visual,
.social_list .sub_visual,
.social_view .sub_visual,
.social_diversity .sub_visual,
.winwin_partnership .sub_visual {background: url("../../assets/images/esg/visual_esg_03.png") no-repeat center / cover;}
.directorate .sub_visual,
.committee .sub_visual {background: url("../../assets/images/esg/visual_esg_04.png") no-repeat center / cover;}
.sustainable_management .sub_visual {
	background-image: url('../../assets/images/esg/visual_esg_sustainable_management.png');
}


/*btn container*/
.btn_wrap { display: flex; align-items: center; justify-content: center; margin-top: 50px;}
.btn_wrap .btn {width: 327px; height: 54px; display: flex; justify-content: center; align-items: center; }

/* info_list */
.info_list li {
	position: relative;
	padding-left: 12px;
	line-height: 1.4;
	white-space: nowrap;
}

.info_list li::after {
	position: absolute;
	top: 9px;
	left: 0;
	content: '';
	width: 3px;
	height: 3px;
	background-color: #666;
}

/* ESG 전략 - 지속가능경영 정책
**********************************************************/
.sustainable_policy .cont_body ul {gap: 30px 20px; flex-wrap: wrap;}
.sustainable_policy .cont_body ul li {border: 1px solid #dddddd; border-radius: 20px;}
.sustainable_policy .cont_body ul li a {padding: 40px 40px 40px 110px; display: block; position: relative; background-size: 40px; background-repeat: no-repeat; background-position: left 31px center;}
.sustainable_policy .cont_body ul li a::after {content: ""; width: 18px; height: 18px; background: url('../images/esg/ico_arrow.png')no-repeat; background-size: cover; position: absolute; right: 40px; top: 50%; transform: translateY(-50%);}
.sustainable_policy .cont_body ul li:nth-child(1) a {background-image: url('../images/esg/ico_sustainable_policy01.png');}
.sustainable_policy .cont_body ul li:nth-child(2) a {background-image: url('../images/esg/ico_sustainable_policy02.png');}
.sustainable_policy .cont_body ul li:nth-child(3) a {background-image: url('../images/esg/ico_sustainable_policy03.png');}
.sustainable_policy .cont_body ul li:nth-child(4) a {background-image: url('../images/esg/ico_sustainable_policy04.png');}
.sustainable_policy .cont_body ul li:nth-child(5) a {background-image: url('../images/esg/ico_sustainable_policy05.png');}
.sustainable_policy .cont_body ul li:nth-child(6) a {background-image: url('../images/esg/ico_sustainable_policy06.png');}
.sustainable_policy .cont_body ul li:nth-child(7) a {background-image: url('../images/esg/ico_sustainable_policy07.png');}
.sustainable_policy .cont_body ul li:nth-child(8) a {background-image: url('../images/esg/ico_sustainable_policy08.png');}

/* ESG 전략 - 이니셔티브와 인증
**********************************************************/
.initiative .esg_result .cont_body figure {margin-bottom: 20px;}
.initiative .esg_result .cont_body ul li:not(:last-child) {margin-bottom: 10px;}
.initiative .participation .cont_body ul li {margin-bottom: 60px; display: flex; align-items: center; gap: 41px; position: relative;}
.initiative .participation .cont_body ul li:last-child {margin-bottom: 0;}
.initiative .participation .cont_body ul li b {display: inline-block; position: absolute; left: 368px; top: 10px;}
.initiative .participation .cont_body ul li .cont_img {width: 327px;}
.initiative .participation .cont_body ul li p {padding-top: 24px; width: calc(100% - 368px); min-height: 90px;}

/* 환경 - Move to Net-Zero
**********************************************************/
.net_zero .cont_txt .table-scroll {margin-top: 0;}
.net_zero .cont_txt .dot_bullet li:not(:last-child) {margin-bottom: 30px;}
.net_zero .cont_txt .dot_bullet li::before {color: #666666;}

/* 사회 - 안전과 보건
**********************************************************/
.safety_health .cont_txt:not(:last-child) {margin-bottom: 60px;}
.safety_health .cont_txt b {margin-bottom: 22px}
.safety_health .cont_txt b + p {margin-bottom: 30px;}
.safety_health .cont_txt ol.round_num {padding: 60px; border-radius: 20px; background: #F6F7FE;}
.safety_health .cont_txt ol.round_num > li {margin:16px 0 0 0;}
.safety_health .cont_txt ol.round_num > li:first-child {margin:0;}
.safety_health .cont_txt ol.round_num > li::before {top: 0; line-height: 14px; font-weight: 600; color: #435CE7; border:2px solid #435CE7;}
.safety_health .cont_txt ol.round_num > li p:first-child {margin-bottom: 12px;}
.safety_health .cont_item.quality .cont_txt .sub_tit {margin-bottom: 30px;}

/* 사회 - 상생협력
**********************************************************/
.winwin_partnership .responsive_table table tbody tr th {background: #F5F5F5; font-size: 16px;}
.winwin_partnership .dot_bullet li {margin-bottom: 16px;}
.winwin_partnership .dot_bullet li:last-child {margin-bottom: 0;}

.winwin_partnership .project .dot_bullet li {padding-left: 10px;}
.winwin_partnership .project .dot_bullet li::before {width: 2px; height: 2px; background: #666666; top: 6px;}
.winwin_partnership .project > ul {gap: 30px; flex-wrap: wrap;}
.winwin_partnership .project > ul > li {padding: 39px 36px 39px 135px; border: 1px solid #eeeeee; border-radius: 20px; background-repeat: no-repeat; background-size: 56px; background-position: left 40px top 40px; line-height: 1.5;}
.winwin_partnership .project > ul > li > b {display: inline-block; margin-bottom: 16px;}
.winwin_partnership .project > ul > li > .dot_bullet li:not(:last-child) {margin-bottom: 10px;}
.winwin_partnership .project > ul > li:nth-child(1) {background-image: url('../images/esg/ico_partner.png');}
.winwin_partnership .project > ul > li:nth-child(2) {background-image: url('../images/esg/ico_growth.png');}
.winwin_partnership .project > ul > li:nth-child(3) {background-image: url('../images/esg/ico_fair.png');}

.winwin_partnership .action_agenda ul {gap: 30px; flex-wrap: wrap;line-height: 1.4;}
.winwin_partnership .action_agenda ul li {border: 1px solid #dddddd; border-radius: 20px;}
.winwin_partnership .action_agenda ul li a {padding: 35px 35px 35px 86px; display: flex; align-items: center; background-repeat: no-repeat; background-position: left 40px top 50%; background-size: 32px; position: relative; height: 100%;}
.winwin_partnership .action_agenda ul li a::after {content: ""; width: 16px; height: 16px; background: url('../images/esg/ico_arrow.png')no-repeat; background-size: contain; position: absolute; right: 24px; top: 50%; transform: translateY(-50%);}
.winwin_partnership .action_agenda ul li:nth-child(1) a {background-image: url('../images/esg/ico_contract.png');}
.winwin_partnership .action_agenda ul li:nth-child(2) a {background-image: url('../images/esg/ico_partner02.png');}
.winwin_partnership .action_agenda ul li:nth-child(3) a {background-image: url('../images/esg/ico_compliance.png');}
.winwin_partnership .action_agenda ul li:nth-child(4) a {background-image: url('../images/esg/ico_papers.png');}

/* 사회 - 상생협력 팝업
**********************************************************/
.popup.full_modal table tbody tr td {text-align: left; padding: 24px 40px; line-height: 1.4; color: #666666;}
.popup.full_modal table tbody tr td.tac {text-align: center;}
.popup.full_modal table .straight_bullet > li:last-child {margin-bottom: 0;}
.popup.full_modal .custom table .tbl_tit {display: none;}

/* table_box */
.popup.full_modal .table_box b {font-weight: 400;}
.popup.full_modal .table_box table .dot_bullet {margin-left: 0;}
.popup.full_modal .table_box table .dot_bullet > li:not(:last-child) {margin-bottom: 16px;}

.pop_quick {position: fixed; right: 40px; bottom: 40px;}

.popup.full_modal ol.pop_index {margin-bottom: 60px; padding: 40px; background: #F6F7FE; border-radius: 10px;}
.popup.full_modal ol.pop_index li:not(:last-child) {margin-bottom: 10px;}

.popup.full_modal .terms_txt {margin-bottom: 60px;}
.popup.full_modal .terms_txt h4 {margin-bottom: 24px;}
.popup.full_modal .terms_txt h4 + p:not(:last-child) {margin-bottom: 40px;}

/* depth1 */
.popup.full_modal .depth1 > li:not(:last-child) {margin-bottom: 50px;}
.popup.full_modal .depth1 > li .dep1_tit {margin-bottom: 20px;}


/* depth2 */
.popup.full_modal .depth2 > li:not(:last-child) {margin-bottom: 40px;}
.popup.full_modal .depth2 > li .dep2_tit {margin-bottom: 20px;}

.popup.full_modal .depth2 .dot_bullet {margin-left: 10px; color: #666666;}
.popup.full_modal .depth2 .dot_bullet > li {margin-bottom: 20px; line-height: 1.4;}
.popup.full_modal .depth2 .dot_bullet > li::before {border-radius: 3px; background: #666666;}
.popup.full_modal .depth2 .dot_bullet > li:last-child {margin-bottom: 0;}

.popup.full_modal .depth2 .straight_bullet {margin-top: 16px;}
.popup.full_modal .depth2 .straight_bullet > li {margin-bottom: 16px;}
.popup.full_modal .depth2 .straight_bullet > li:last-child {margin-bottom: 0}

/* example_list */
.popup.full_modal .example_list b {margin-bottom: 20px; display: block; font-weight: 400;}
.popup.full_modal .example_list  {margin-top: 20px;}
.popup.full_modal .example_list > li {margin-bottom: 30px;}
.popup.full_modal .example_list > li .straight_bullet {margin-top: 0;}

/* notice */
ul.notice {margin-top: 20px; font-size: 16px;}
ul.notice > li {margin-bottom: 16px; color: #888888;}
ul.notice > li:last-child {margin-bottom: 0;}
ul.notice > li::before {content: "*"; margin-right: 5px;}
ul.notice > li .dot_bullet {margin-left: 24px; margin-top: 16px;}
ul.notice > li .dot_bullet > li {margin-bottom: 20px; color: #888888;}
ul.notice > li .dot_bullet > li:last-child {margin-bottom: 0;}
ul.notice > li .dot_bullet > li::before {background: #888888 !important;}
ul.notice .straight_bullet {margin-top: 20px;}
ul.notice .straight_bullet > li::before {background: #888888;}

p.notice.type2 {margin-top: 16px; position: relative; padding-left: 10px; font-size: 16px; color: #888888;}
p.notice.type2::before {content: "*"; position: absolute; left: 0; top: 0;}

.number_bullet {margin-top: 16px;}
.number_bullet li {padding-left: 35px; margin-bottom: 16px;position: relative;}
.number_bullet li:last-child {margin-bottom: 0;}
.number_bullet li:nth-child(1):before {content: "<1>"; position: absolute; left: 0; top: 0;}
.number_bullet li:nth-child(2):before {content: "<2>"; position: absolute; left: 0; top: 0;}

/* supplementary_provision */
.popup.full_modal .supplementary_provision {padding-top: 30px; border-top: 1px solid #EEEEEE;}
.popup.full_modal .supplementary_provision h4 {margin-bottom: 24px;}
.popup.full_modal .supplementary_provision ul li {margin-bottom: 20px; font-size: 16px; color: #888888;}
.popup.full_modal .supplementary_provision ul li:last-child {margin-bottom: 0;}

.detail_txt table tbody tr td {vertical-align: top;}
.committee_txt table tbody tr th {background: #F5F5F5;}

.document .table_box {margin-bottom: 40px;}
.document .depth2 > li .dep2_tit+p {margin-bottom: 20px; color: #666666; }
.dot_bullet .download_area {margin-left: -10px; margin-top: 20px;}

/* 사회 - 다양성과 포용
**********************************************************/
.social_tab06 h3 {margin-bottom:30px;}
.social_tab06 .visual {margin-bottom:40px;border-radius:20px;overflow:hidden;}
.social_tab06 p {line-height:1.4;}

/* 사회 - 사회적 책임
**********************************************************/
.social_responsibility .cont_item:not(:last-child) {
	margin-bottom: 120px;
}

.social_responsibility .btn_download {
	background:none;
	margin-bottom: 40px;
	padding: 16px 20px;
}
.social_responsibility .btn_download.btn_none{background:none; text-align:center;}

.social_responsibility .cont_body .txt_info {
	display: block;
	margin-bottom: 30px;
}

.side_list_wrap {display: flex; margin: 60px 30px}
.side_list_wrap .side_list {min-width: 300px; padding-right: 110px;}

/* 사회 - 사회공헌
**********************************************************/
.social_contribution .cont_item:not(:last-child) {
	margin-bottom: 120px;
}
.social_contribution .cont_body > p {
	margin-bottom: 60px;
}
.social_contribution .cont_body>figure {
	margin-bottom: 30px;
}
.social_contribution .info_list {
	flex-wrap: wrap;
	line-height: 1.5;
}

.social_contribution .info_list li {
	margin-bottom: 16px;
}

.social_contribution .flex_between.cont_info {
	flex-wrap: wrap;
	gap: 60px 0;
}
.social_contribution .cont_info figure {
	margin-bottom: 30px;
	border-radius: 20px;
}
.social_contribution .cont_info b {
	display: block;
	margin-bottom: 20px;
}
.social_contribution .cont_info .info_list {
	gap: 16px;
}
.social_contribution .cont_info .info_list.mo_list li {
	margin-bottom: 16px;
}
.social_contribution .cont_info .move_btn {
	margin-top: 32px;
}
.social_contribution .cont_txt:not(:last-child) {
	margin-bottom: 60px;
}
.social_contribution .cont_txt h4 {
	display: block;
	margin-bottom: 24px;
}

/* 사회 - 다양성과 포용
**********************************************************/
.social_diversity .cont_body figure {
	margin-bottom: 40px;
}

/* social_view
**********************************************************/
.social .view_cont .view_txt {
	line-height:1.4;
}


/* 지배구조 - 준법경향 */
.compliance_system_list {
	display: flex;
}

.compliance_system_list li {
	border: 1px solid #eee;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	font-size: 16px;
	color: #666;
	padding: 116px 30px 30px;
	position: relative;
	line-height: 1.6;
}

.compliance_system_list li + li {
	margin-left: 30px;
}

.compliance_system_list li::before {
	position: absolute;
	content: '';
	width: 56px; height: 56px;
	top: 30px; left: 30px;
	background: no-repeat center;
	background-size: 100% auto;
}

.compliance_system_list li.note::before {
	background-image: url(../images/esg/ico_note.svg);
}
.compliance_system_list li.risk::before {
	background-image: url(../images/esg/ico_slanted_scale.svg);
}
.compliance_system_list li.upload::before {
	background-image: url(../images/esg/ico_folder_upload.svg);
}

.operation_progress_wrap {
	background-color: #F6F7FE;
	border-radius: 20px;
	padding: 60px;
}
.operation_progress_wrap li:not(:last-child) {
	margin-bottom: 17px;
}

.bld_row {
	display: flex;
	align-items: flex-start;
}
.bld_row >*:not(:first-child) {
	margin-left: 20px;
}

.flx_row {
	display: flex;
	flex-wrap: wrap;
}

[class *= 'flx_col'] + [class *= 'flx_col'] {
	margin-left: 30px;
}

.flx_col_2 {
	width: calc(100% / 2 - (15px * 1));
}

.flx_col_2:nth-child(odd) {
	margin-left: 0;
}
.flx_col_2:nth-child(n + 3) {
	margin-top: 30px;
}
.flx_col_2.report_image {
	max-width: 555px;
	height: 100%;
	max-height: 375px;
}
.flx_col_2.report_image img {
	height: 100%;
}
.flx_col_2 .right_cont {
	width: 100%;
	max-width: 550px;
	margin-left: 60px;
}

.flx_col_3 {
	width: calc(100% / 3 - (60px / 3));
}

.flx_col_3:nth-child(3n + 1) {
	margin-left: 0;
}
.flx_col_3:nth-child(n + 4) {
	margin-top: 80px;
}

.flx_auto {
	width: auto;
}

/* 지배구조 - 이사회
**********************************************************/
.directorate .cont_body p {
	margin-bottom: 30px;
}
/* 지배구조 - 위원회
**********************************************************/
.committee .cont_body p {
	margin-bottom: 30px;
}
.committee .cont_body p .mo {
	display: none;
}
.committee .cont_head {
	margin-bottom: 0;
}
/* 지배구조 - 이해관계자
**********************************************************/
.ethical_management figure {margin-bottom: 40px;}
.ethical_management .btn_wrap {margin-top: 70px;}

/* 지속가능경영보고서
**********************************************************/
.sustainable_management_new .managenent_detail_wrap {
	margin-top: 40px;
}
.sustainable_management_new .management_item {
	background-color: #F6F7FE;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	height: 100%;
}
.sustainable_management_new .management_item dl {
	flex: 1;
}
.sustainable_management_new .management_item dt {
	color: #435CE7;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 24px;
}

.sustainable_management_new .management_item dd {
	position: relative;
}
.sustainable_management_new .management_item dd + dd {
	margin-top: 10px;
}

.sustainable_management_new .management_item dd ul li {
	position: relative;
	padding-left: 10px;
	font-size: 16px;
}
.sustainable_management_new .management_item dd ul li::before {
	position: absolute;
	content: '';
	left: 0;
	top: 8px;
	width: 3px; height: 3px;
	background-color: #222;
}
.grd_lay_2 {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-auto-rows: auto;
	grid-gap: 14px;
}

.sustainable_management_new .sustainable_management_new_head .btn_wrap {
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px;
}
.sustainable_management_new .sustainable_management_new_head .btn_wrap .btn {
	max-width: 367px;
	padding: 0;
	padding: 15px 40px 15px 16px;
}
.sustainable_management_new .sustainable_management_new_head .btn_wrap .btn_ti_download .btn_name {
	line-height: 1.4;
}
.sustainable_management_new .management_item .managenent_download {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 10px;
	margin-left: 14px;
}

.sustainable_management_main_old .report_wrap .report_image {
	border: 1px solid #eee;
	border-radius: 20px;
	background-color: #fff;
}
.sustainable_management_main_old .report_wrap .report_info {
	display: flex;
	align-items: center;
	margin-top: 20px;
	flex-wrap: wrap;
}
.sustainable_management_main_old .report_wrap .report_info .report_title {
	font-size: 24px;
	font-weight: 700;
	margin-right: 10px;
}
.sustainable_management_main_old .report_wrap .report_info .btn_box {
	display: inline-flex;
	margin-left: auto;
}
.sustainable_management_main_old .report_wrap .report_info .btn + .btn {
	margin-left: 10px;
}

.sustainable_management_new .management_item .btn_xs {
	background-color: #fff;
}

.btn.btn_xs {
	min-width: 97px;
}

/* 테블릿
**********************************************************/
@media all and (max-width: 1280px) {
	/* 공통 */
	p {line-height: 1.3;}
	/* sub_visual */
	.safety_health .sub_visual h2,
	.winwin_partnership .sub_visual h2,
	.social_responsibility .sub_visual h2,
	.social_contribution .sub_visual h2,
	.social_list .sub_visual h2,
	.social_diversity .sub_visual h2,
	.social_view .sub_visual h2,
	.directorate .sub_visual h2,
	.committee .sub_visual h2,
	.sustainable_management .sub_visual h2 {
		top: 150px;
	}

	/* ESG 전략 - 중요 이슈 분석
	**********************************************************/
	.important_issue .cont_body ol.round_num {border-radius: 14px;}

	/* ESG 전략 - 지속가능경영 정책
	**********************************************************/
	.sustainable_policy .cont_body ul {flex-direction: column; gap: 20px;}
    .sustainable_policy .cont_body ul li {width: 100%; border-radius: 14px;}
    .sustainable_policy .cont_body ul li a {padding: 26px 26px 26px 70px; background-size: 30px; background-position: left 24px center;}
    .sustainable_policy .cont_body ul li a::after {width: 16px; height: 16px; right: 24px;}

	/* ESG 전략 - 이니셔티브와 인증
	**********************************************************/
	.initiative .esg_result .cont_body figure {margin-bottom: 16px;}
	.initiative .participation .cont_body figure {max-width: 375px; margin: 0 auto;}
	.initiative .participation .cont_body figure img.pc {display: none;}
	.initiative .participation .cont_body figure img.mo {display: block;}
	.initiative .participation .cont_body ul li {margin-bottom: 50px; flex-direction: column; gap: 16px; align-items: flex-start;}
    .initiative .participation .cont_body ul li b {position: initial;}
    .initiative .participation .cont_body ul li p {padding: 0; width: 100%; height: auto;}

	/* 환경 - Move to Net-Zero
	**********************************************************/
	.net_zero .accordion > dl.accordion_list {border-top: 1px solid #EEEEEE;}

	/* 사회 - 안전과 보건
	**********************************************************/
	.rule_list ul {gap:15px;}
	.rule_list li {width: calc(50% - 7.5px);height:auto;}
	.safety_health .cont_txt ol.round_num {border-radius: 14px;}

	/* 사회 - 상생협력
	**********************************************************/
	.winwin_partnership .project > ul {gap: 8px;}
    .winwin_partnership .project > ul > li {padding: 29px 26px 29px 100px; border-radius: 14px; background-size: 40px; background-position: left 30px top 30px;}
    .winwin_partnership .action_agenda ul {gap: 20px; flex-direction: column;}
    .winwin_partnership .action_agenda ul li {width: 100%; border-radius: 14px;}
    .winwin_partnership .action_agenda ul li a {padding: 25px 36px 25px 60px; background-position: left 24px top 50%; background-size: 24px;}

	/* 사회 - 사회공헌
	**********************************************************/
	.social_contribution .cont_item:not(:last-child) {
		margin-bottom: 50px;
	}
	.social_contribution .cont_txt:not(:last-child) {
		margin-bottom: 50px;
	}
	.social_contribution .cont_info figure {
		border-radius: 14px;
	}

	/* 사회 - 다양성과 포용
	**********************************************************/
	.social_diversity .cont_body figure {
		margin-bottom: 30px;
	}

	/*btn container*/
	.btn_wrap {margin-top: 30px;}

	/* 지속가능경영보고서
	**********************************************************/
	.grd_lay_2 {
		display: block;
	}
	.grd_lay_2 li + li {
		margin-top: 14px;
	}

	.sustainable_management_new .management_item {
		flex-direction: column;
	}

	.sustainable_management_new .management_item .managenent_download {
		display: inline-flex;
		flex-direction: row;
		margin: 30px 0 0;
	}
	.sustainable_management_main_old .report_wrap {
		flex-direction: column;
	}
	.sustainable_management_main_old .report_wrap li {
		margin: 0;
		width: auto;
		padding: 14px 10px;
		border-bottom: 1px solid #eee;
	}
	.sustainable_management_main_old .report_wrap .report_image {
		display: none;
	}
	.sustainable_management_main_old .report_wrap .report_info {
		margin-top: 0;
	}

	.sustainable_management_main_old .report_wrap .report_info .report_title {
		font-weight: 500;
		font-size: 18px;
	}
	.sustainable_management_new .sustainable_management_new_head .report_image {
		display: none;
	}
	.report_image.flx_col_2 + [class *= 'flx_col'] {
		margin-top: 0;
	}
	.sustainable_management_new .sustainable_management_new_head .btn_wrap {
		justify-content: center;
		margin-top: 40px;
		gap: 16px;
	}
	.sustainable_management_new .sustainable_management_new_head .btn_wrap a {
		width: 100%;
		max-width: 375px;
	}
	.flx_col_2 .right_cont {
		width: 100%;
		max-width: none;
		margin-left: 0;
	}
	[class *='flx_col'] {
		width: 100%;
	}
	[class *='flx_col']+[class *='flx_col'] {
		margin-left: 0;
		margin-top: 20px;
	}
	.btn.btn_xs {
		min-width: unset;
	}

	.bld_row.toCol_tb {
		display: block;
		margin-bottom: 20px;
	}

	.side_list_wrap {flex-direction: column; margin: 30px 0;}
	.side_list_wrap .side_list {order: 1; padding: 0; padding-top: 30px;}

}

/* 모바일
**********************************************************/
@media all and (max-width: 720px) {
	.pc {display:none;}
	.mo {display:block;}
	h3.mb40 {margin-bottom: 30px !important;}
	/* p {line-height: 1.3;} */
	figure {max-width: 375px;margin: 0 auto;}
	
	.dot_bullet > li {margin-bottom: 15px !important;padding-left: 10px;}
	.dot_bullet > li::before {width: 2px; height: 2px; border-radius: 2px; top: 6px;}
	.list_title {padding-left: 10px; font-size: 16px;}
	
	.cont_txt:not(:last-child) {margin-bottom: 50px;}
	.cont_txt h4 {margin-bottom: 16px;line-height: 1.3;}
	.cont_txt h4 + p:not(:last-child) {margin-bottom: 16px;}
	.cont_txt h4 + p.exp {margin-bottom: 24px;}
	
	.cont_item:not(:last-child) {margin-bottom: 70px;}
	.cont_head:not(:last-child) {margin-bottom: 30px;}
	.cont_head h3 {margin-bottom: 16px;line-height: 1.3;}
	.cont_body b.img_tit {margin-bottom: 20px;line-height: 1.3;}
	
	.social_contribution .cont_body>p {margin-bottom: 40px;}
	.info_list li {line-height: 1.3;}

	.popup.full_modal .pop_head h3 {line-height: 1.3;}
	
	/* sub_visual */
	.sustainability .sub_visual,
	.important_issue .sub_visual,
	.risk_management .sub_visual,
	.sustainable_policy .sub_visual,
	.initiative .sub_visual {background-image: url('../../assets/images/esg/visual_esg_01_mo.png');}
	.environment .sub_visual,
	.net_zero .sub_visual {background-image: url('../../assets/images/esg/visual_esg_02_mo.png');}
	.safety_health .sub_visual,
	.social_responsibility .sub_visual,
	.social_contribution .sub_visual,
	.social_list .sub_visual,
	.social_diversity .sub_visual,
	.social_view .sub_visual,
	.winwin_partnership .sub_visual {background-image: url('../../assets/images/esg/visual_esg_03_mo.png');}
	.directorate .sub_visual,
	.committee .sub_visual {background-image: url('../../assets/images/esg/visual_esg_04_mo.png');}

	.safety_health .sub_visual h2,
	.winwin_partnership .sub_visual h2,
	.social_responsibility .sub_visual h2,
	.social_contribution .sub_visual h2,
	.social_list .sub_visual h2,
	.social_diversity .sub_visual h2,
	.social_view .sub_visual h2,
	.directorate .sub_visual h2,
	.committee .sub_visual h2,
	.sustainable_management .sub_visual h2 {top: 25px;}

	/* ESG 전략 - 중요 이슈 분석
	**********************************************************/
	.important_issue .cont_body figure {margin-bottom: 30px;}
	.important_issue .cont_body ol.round_num {padding: 30px; background: #F6F7FE;}
	.important_issue .cont_body ol.round_num li {padding-left: 32px; margin: 14px 0 0;}
	.important_issue .cont_body ol.round_num li:first-child {margin-top: 0;}
	.important_issue .cont_body ol.round_num li:before {width: 24px; height: 24px; font-size: 16px; font-weight: 500; border: 0; background: #888888; color: #fff; line-height: 25px; top: 0;}
	.important_issue .cont_body ol.round_num li:nth-child(-n+7)::before {background: #435CE7;}

	/* ESG 전략 - 리스크 관리
	**********************************************************/
	.risk_management .risk_system .cont_body {overflow-x: auto;}
    .risk_management .risk_system .cont_body figure {width: 843px; max-width: none;}
	.sustainable_policy .cont_body ul li a {line-height: 1.3;}
	
	/* ESG 전략 - 이니셔티브
	**********************************************************/
	.initiative .esg_result .cont_body ul li {
		line-height: 1.3;
	}

	/* 환경 - Move to Net-Zero
	**********************************************************/
	.net_zero .cont_txt .dot_bullet li::before {top: 10px;}

	/* 사회 - 안전과 보건
	**********************************************************/
	.safety_health .cont_txt b {margin-bottom: 20px}
	.safety_health .cont_txt b + p {margin-bottom: 20px;}
	.safety_health .cont_txt ol.round_num {padding: 30px; line-height: 12px;}
	.safety_health .cont_txt ol.round_num > li {padding-left: 22px;}
	.safety_health .cont_txt ol.round_num > li::before {width: 16px; height: 16px;}

	/* 사회 - 상생협력
	**********************************************************/
	.winwin_partnership .standard .responsive_table table {width: 906px;}
	.winwin_partnership .standard .responsive_table table tbody tr th {font-size: 14px;}
	.winwin_partnership .standard .responsive_table table colgroup col:nth-child(1) {width: 29.13%!important;}
	.winwin_partnership .standard .responsive_table table colgroup col:nth-child(2),
	.winwin_partnership .standard .responsive_table table colgroup col:nth-child(3),
	.winwin_partnership .standard .responsive_table table colgroup col:nth-child(4) {width: 20.97%!important;}
	.winwin_partnership .table-scroll, .table-scroll-all {margin-top: 30px;}

	/* 사회 - 상생협력 팝업
	**********************************************************/
	.popup.full_modal .basic_table {margin-top: 16px;}
	.popup.full_modal table tbody tr th {font-size: 14px;}
	.popup.full_modal table tbody tr td {padding: 16px 20px; line-height: 1.3;}

	.popup.full_modal .table_box table .dot_bullet > li:not(:last-child) {margin-bottom: 20px; padding-left: 10px;}
	.popup.full_modal .depth2 .dot_bullet > li::before,
	.popup.full_modal .table_box table .dot_bullet > li::before {width: 2px; height: 2px; border-radius: 2px; top: 8px;}


	.popup.full_modal .custom table {border-top: 0;}
	.popup.full_modal .custom table .tbl_tit {display: block;}
	.popup.full_modal .custom table thead {display: none;}
	.popup.full_modal .custom table tr th {display: block; background: #F5F5F5; border-top: 1px solid #666666;}
	.popup.full_modal .custom table tr td {display: block; padding: 16px 8px;}
	.popup.full_modal .custom table tr .tbl_tit {margin-bottom: 16px;}
	.popup.full_modal .custom table colgroup col:nth-child(1) {width: 100% !important;}

	.popup.full_modal ol.pop_index {margin-bottom: 40px; padding: 24px; border-radius: 14px;}
	.popup.full_modal ol.pop_index > li {font-size: 14px;}
	.popup.full_modal .terms_txt {margin-bottom: 50px;}
	.popup.full_modal .terms_txt h4 {margin-bottom: 20px; line-height: 1.3;}
	.popup.full_modal .terms_txt h4 + p:not(:last-child) {margin-bottom: 30px;}

	/* depth1 */
	.popup.full_modal .depth1 > li:not(:last-child) {margin-bottom: 40px;}
	.popup.full_modal .depth1 > li .dep1_tit {margin-bottom: 16px;}

	/* depth2 */
	.popup.full_modal .depth2 > li:not(:last-child) {margin-bottom: 30px;}
	.popup.full_modal .depth2 > li .dep2_tit {margin-bottom: 16px;}

	.popup.full_modal .depth2 .dot_bullet {margin-left: 8px; color: #666666;}
	.popup.full_modal .depth2 .dot_bullet > li {line-height: 1.3; padding-left: 10px;}

	.popup.full_modal .depth2 .straight_bullet {margin-top: 20px;}

	/* example_list */
	.popup.full_modal .example_list b {margin-bottom: 16px;}
	.popup.full_modal .example_list {margin-top: 16px;}

	.popup.full_modal .scroll_img {overflow-y: auto;}
	.partner .partner_process {max-width: none; width: 916px;}
	.committee .work_process {max-width: none; width: 1065px;}

	.pop_quick {right: 16px; bottom: 24px;}

	.popup.full_modal .supplementary_provision h4 {margin-bottom: 20px;}
	.popup.full_modal .supplementary_provision ul li {margin-bottom: 16px; font-size: 14px;line-height: 1.3;}


	.number_bullet {margin-top: 20px;}
	.number_bullet li {padding-left: 28px;}

	.popup.full_modal .tbl_document .responsive_table table {width: 798px; max-width: none;}
	.popup.full_modal .tbl_keep .responsive_table table {width: 1034px; max-width: none;}

	.pop_quick {right: 16px; bottom: 24px;}

	/* 사회 - 사회적 책임
	**********************************************************/
	.social_responsibility .cont_item:not(:last-child) {
		margin-bottom: 50px;
	}
	.social_responsibility .cont_head:not(:last-child) {
		margin-bottom: 30px;
	}
	.social_responsibility .btn_download {
		display: block;
		width: 100%;
		max-width: 375px;
		margin: 0 auto 30px;
		padding: 16px 45px;
		font-size: 16px;
		
		background:none;
		/*background-position-x: right;
		text-align: left;
		*/
	}


	.social_responsibility .cont_body .txt_info {
		margin-bottom: 20px;
		line-height: 1.3;
	}

	/* 사회 - 사회공헌
	**********************************************************/
	.social_contribution .cont_body > .flex_between > .flex_item_2n {
		width: 100%;
	}
	.social_contribution .flex_between.cont_info {
		gap: 50px 0;
	}
	.social_contribution .info_list.mo_list {
		display: flex;
	}
	
	.social_contribution .info_list li {
		margin-bottom: 10px;
	}

	.social_contribution .cont_info .info_list.mo_list li {
		width: calc((100% - 16px) / 2);
		margin-bottom: 0;
	}
	.social_contribution .cont_info figure {
		margin-bottom: 24px;
	}
	.social_contribution .cont_info .info_list {
		gap: 10px;
	}
	.social_contribution .cont_info b {
		margin-bottom: 16px;
	}
	.social_contribution .cont_info .move_btn {
		margin-top: 25px;
	}
	.social_contribution .cont_txt h4 {
		margin-bottom: 16px;
	}


	/* 사회 - 다양성과 포용
	**********************************************************/
	.social_tab06 h3 {margin-bottom:16px;}
	.social_tab06 .visual {margin-bottom:30px;border-radius:14px;}
	.social_tab06 p {line-height:1.3;}

	/*btn container*/
	.btn_wrap .btn {width: 100%;}

	.compliance_system_list li {
		border: 1px solid #eee; border-radius: 14px;
		font-size: 14px;
		padding: 24px 24px 24px 84px;
		position: relative;
	}

	.compliance_system_list li + li {
		margin-left: 0;
		margin-top: 12px;
	}

	.compliance_system_list li::before {
		width: 40px; height: 40px;
		top: 24px; left: 24px;
	}

	.operation_progress_wrap {padding: 30px;}
	.operation_progress_wrap li {line-height: 1.3;}
	.bld_row >*:not(:first-child) {margin-left: 0px; margin-bottom: 20px;}


	/* social_view
	**********************************************************/
	.social .view_cont .view_txt {line-height:1.3;}

	/* 지배구조 - 준법경향 */
	.compliance_system_list {
		flex-direction: column;
	}

	/* 지배구조 - 위원회
	**********************************************************/
	.committee .cont_head {
		margin-bottom: 0;
	}

	/* 지배구조 - 이해관계자
	**********************************************************/
	.ethical_management figure {margin-bottom: 30px;}
	.ethical_management .btn_wrap {margin-top: 50px;}



	/* 지속가능경영보고서
	**********************************************************/
	.sustainable_management_new .sustainable_management_new_head .btn_wrap {flex-direction: column;justify-content: inherit;}
	.sustainable_management_new .sustainable_management_new_head .btn_wrap a {max-width: none;}
	.sustainable_management_main_old .report_wrap .report_image {border-radius: 14px;}
	.sustainable_management_new .management_item dt {line-height: 1.3;}
	.sustainable_management_new .management_item dd ul li {line-height: 1.3;}
	.sustainable_management_new .sustainable_management_new_head .btn_wrap .btn_ti_download .btn_name {line-height: 1.3;}
}

@media all and (max-width: 450px) {
	/* 사회 - 상생협력
	**********************************************************/
	.winwin_partnership .standard .responsive_table table {width: 453px;}
	.winwin_partnership .standard .responsive_table table span {display: block;}
	.popup.full_modal .tbl_document .responsive_table table {width: 399px;}
	.popup.full_modal .tbl_document colgroup col:nth-child(1) {width: 18.79% !important;}
	.popup.full_modal .tbl_document colgroup col:nth-child(2) {width: 45.61% !important;}
	.popup.full_modal .tbl_document colgroup col:nth-child(3) {width: 27.81% !important;}
	.popup.full_modal .tbl_keep .responsive_table table {width: 517px;}
	.popup.full_modal .tbl_keep colgroup col:nth-child(1) {width: 12.95% !important;}
	.popup.full_modal .tbl_keep colgroup col:nth-child(2) {width: 39.26% !important;}
	.popup.full_modal .tbl_keep colgroup col:nth-child(3) {width: 28.75% !important;}
	.popup.full_modal .tbl_keep colgroup col:nth-child(4) {width: 20.04% !important;}

}